In [1]:
import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [ ]:
# Python comments

In [2]:
# add tha two number
print(5+22)
# this is comments
print('hello')

27
hello

In [3]:
# print("hello Python")
print("hii .. Python!")

hii .. Python!

In [4]:
# Multiline comments in Python

# this is comments
# hello 
# more line
print('Python')

Python

In [5]:
''' hello 
How are you
    welcome
'''      #this is comments 
print('hii..')

hii..

In [ ]:
# Python Variables

In [ ]:
 Variables are containers for storing data values.

In [6]:
x = 5  #int
y = 'Python' #str

print(x)
print(y)

5
Python

In [ ]:
# Python Casting

In [7]:
x = str(5)
print(x)
y = int(5)
print(y)
z = float(5)
print(z)

5
5
5.0

In [8]:
# Using type() function

x = 10
print(type(x))

y = "Python"
print(type(y))

a = True
print(type(a))

b = 3.14
print(type(b))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [9]:
# x = "Python"
x = 'Python'
print(x)

Python

In [ ]:
#  Python is Case Sensitive

In [10]:
a = 5
A = "Python"
print(id(a))
print(id(A))

2549049524592
2549050853168

In [11]:
# var = 'Python'
# my_var='Python'
_='Python' 
print(_)

Python

In [12]:
# Python multiple  variables  

a,b,c = "Python",50,"AI"
print(a)
print(b)
print(c)

Python
50
AI

In [13]:
x = y = z = "Python"
print(id(x))
print(id(y))
print(id(z))
print(z)

2549050853168
2549050853168
2549050853168
Python

In [ ]:
# Python in Unpack a Collection

In [14]:
l1 = ["Python","ML","AI"]
x,y,z=l1
print(x)
print(y)
print(z)

Python
ML
AI

In [ ]:
# Python - Global Variables

In [ ]:
Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [15]:
x = "Python"

def myfunc():
    print("Best language is " + x)
    
myfunc()
print(x)

Best language is Python
Python

In [16]:
x = "awesome"

def myfunc():
    x = "Fantastic"
    
    print("Python is " + x)
    
myfunc()

print("Python is " + x)

Python is Fantastic
Python is awesome

In [ ]:
# The global Keyword in Python

In [17]:
def myfunc():
    global x
    x = "Fantastic"
    
myfunc()

print("Python is " + x)

Python is Fantastic

In [18]:
# Accessing global Variable From Inside a Function

# global variable

a = 10
b = 15

# function to perform add

def add():
    c = a+b
    print(c)
    
add()

25

In [19]:
# Modifying Global Variable From Inside the Function

a = 15

# funtion to change a global value

def change():
    b = a + 5
    a=b
    print(b)
    
change()

UnboundLocalError: local variable 'a' referenced before assignment

In [20]:
#  Changing Global Variable From Inside a Function using global

x = 15


def change():
# using a global keyword
    global x

    # increment value of a by 5
    x = x + 5
    print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

In [21]:
# exercise global keyword

x = "awesome"

def myfunc():
    x = "fantastic"
myfunc()
print("Python is " + x)

Python is awesome

In [22]:
# exercise

x = "awesome"

def myfunc():
    global x 
    
    x = "Fantastic"
myfunc()
print("Python is  " + x)

Python is  Fantastic

In [ ]:
# Python Data-Types

In [ ]:
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [23]:
x = "Hello world"
print(type(x))

x = 20
print(type(x))

x = 3.14
print(type(x))

x = True
print(type(x))

x = (1+2j)
print(type(x))

x = [1,'Python',False]
print(type(x))

x= (1,'Python')
print(type(x))

x = {1:'one',
    2:'two'}
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [24]:
x = frozenset({"apple","Banana"})
print(type(x))

<class 'frozenset'>

In [25]:
x = b"Hello"
print(type(x))
x = b'1'
print(type(x))

<class 'bytes'>
<class 'bytes'>

In [26]:
x = bytearray(50)
print(type(x))

<class 'bytearray'>

In [27]:
x = memoryview(bytes(5))
print(type(x))
print(x)

<class 'memoryview'>
<memory at 0x0000025104048580>

In [28]:
a = str("Python")
print(type(a))

<class 'str'>

In [29]:
a = complex(1j)
print(type(a))
print(a)

<class 'complex'>
1j

In [ ]:
#  Python Type Conversion

In [30]:
# You cannot convert complex numbers into another number type.

x = 1     #int
y = 3.14  #float
z = 1j    #complex

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
3
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [31]:
# Python Random Module

import random
print(random.randrange(1,11))
print(random.randint(1,10))

4
9

In [ ]:
# Python Random Module

In [32]:
import random

In [33]:
random.seed(10)
print(random.random())

0.5714025946899135

In [34]:
import random

random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [35]:
import random

print(random.random())

0.4288890546751146

In [ ]:
# Python Strings

In [36]:
print("Python")
print('Python')

Python
Python

In [37]:
# Quotes Inside Quotes

print("it's alright")
print("he is called 'Jonny'")
print('He is called "P"')

it's alright
he is called 'Jonny'
He is called "P"

In [38]:
a = "Hello World!"
print(a[2])
print(a[-1])
# print(a[5])

l
!

In [39]:
for x in "Apple":
    print(x,end="")

Apple

In [40]:
# how to find string Length

a = "Hello Everyone"
print(len(a))

14

In [41]:
txt = "The best things in life are free"
print("life" in txt)

True

In [42]:
"are" in txt

True

In [43]:
txt = "The best things in life are free"

if "bet" in txt:
    print("yes, 'best' in presents")
else:
    print("not presents in txt")

not presents in txt

In [44]:
txt = "The best things in life are free"  # NOT IN 

print("all" not in txt)

True

In [45]:
# Exercise
x = "Welcome"

print(x[3])

c

In [ ]:
# Python - Slicing Strings

In [46]:
a = "Hello, World!"
# print(a[2:5])   
print(a[:5])  # slice from the start

Hello

In [47]:
b = "Hello, World!"
print(b[6:])      # slice th the END

 World!

In [48]:
# nagative indexing
b

'Hello, World!'

In [49]:
print(b[-1])

!

In [50]:
print(b[-5:-2])

orl

In [51]:
print(b[-11:-3])

llo, Wor

In [52]:
# Python - Modify Strings

a = "Hello, World!"
# a.upper()
a.lower()

'hello, world!'

In [53]:
a = " Hello , World  "

print(a.strip())
print(a.rstrip())
print(a.lstrip())

Hello , World
 Hello , World
Hello , World

In [54]:
# Replace String
print(a)

 Hello , World

In [55]:
x = "Pratap , Makwana"

print(x.replace("a","@"))

Pr@t@p , M@kw@n@

In [56]:
print(x.replace("t","T"))

PraTap , Makwana

In [57]:
print(x.replace(",","bhai"))

Pratap bhai Makwana

In [58]:
x = "Python ,@  and AI!"
print(x.split())

['Python', ',@', 'and', 'AI!']

In [59]:
x = "P y th o n"
x.split()

['P', 'y', 'th', 'o', 'n']

In [60]:
x.splitlines()

['P y th o n']

In [61]:
a

' Hello , World  '

In [62]:
a.splitlines()

[' Hello , World  ']

In [63]:
x

'P y th o n'

In [64]:
x= "Pyt!ho!n,ML!"
print(x.split("!"))

['Pyt', 'ho', 'n,ML', '']

In [ ]:
# Python - String Concatenation

In [65]:
a = "Hello "
b = "World"
x = a+b
print(x)

Hello World

In [66]:
a = "Hello"
b = "World"

c = a + "  " +b
print(c)

Hello  World

In [ ]:
# F-Strings

In [67]:
name = "Jay"
age = 27
txt = f"My name is {name}, I am {age} year old!"
print(txt)

My name is Jay, I am 27 year old!

In [68]:
price = 60

txt = f"The price is {price} dollers($)"
print(txt)

The price is 60 dollers($)

In [69]:
price = 60
txt = f"The price is {price:.2f} dollers($)"
print(txt)

The price is 60.00 dollers($)

In [70]:
txt = f"The price is {20*10} dollers"
print(txt)

The price is 200 dollers

In [ ]:
# Python - Escape Characters

In [71]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [72]:
txt = "Hello Everyone , How \"are\" you ." #using backslash \
print(txt)

Hello Everyone , How "are" you .

In [73]:
# single quote

txt = 'It\'s alright.'
print(txt)

It's alright.

In [74]:
# Backslash

txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [75]:
# new line

txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [76]:
txt = "Hello\nEveryone!"
print(txt)

Hello
Everyone!

In [77]:
# Carriage Return

txt = "Hello\rWorld!"
print(txt)

World!

In [78]:
x = "welcome to\n \rour office!"
print(x)

welcome to
our office!

In [79]:
# Tab

x = "Hello\tWorld"
print(x)

Hello	World

In [80]:
# Backspace

txt = "Hello  \bWorld!"
print(txt)

Hello  World!

In [81]:
# Form Feed
txt = "Hello\f world"
print(txt)

Hello world

In [82]:
# octal value

txt = "\110\145\154\154\157"
print(txt)

Hello

In [ ]:
# Python - String Methods

In [83]:
txt = "Hello , World!"
# print(txt.capitalize())
# print(txt.casefold())
# print(txt.center(1))
# print(txt.count('o'))
# print(txt.encode())
# print(txt.endswith('d!'))
# print(txt.expandtabs())
# print(txt.find('r'))
# print(txt.format())
# print(txt.format_map(','))
# print(txt.index('o'))
# print(txt.isalnum())
# print(txt.isalpha())
# print(txt.isascii())
# print(txt.isdecimal())
# print(txt.isdigit())
# print(txt.isidentifier())
# print(txt.islower())
# print(txt.isnumeric())
# print(txt.isprintable())
# print(id(txt))
# print(txt.isspace())
# print(txt.istitle())
# print(txt.isupper())

In [84]:
txt

'Hello , World!'

In [85]:
txt.startswith("H")

True

In [86]:
txt.split('l')

['He', '', 'o , Wor', 'd!']

In [87]:
txt.splitlines()

['Hello , World!']

In [88]:
txt

'Hello , World!'

In [89]:
txt.swapcase()

'hELLO , wORLD!'

In [90]:
txt.translate('H')

'Hello , World!'

In [91]:
a = "Python"
a.translate('y')

'Python'

In [ ]:
# Python Booleans

In [92]:
print(10>0)
print(1<-8)
print(0==1)

True
False
False

In [93]:
a = 200
b= 33

if b<a:
    print("b  is greter of a")
    
else:
    print("b is not grater than a")

b  is greter of a

In [94]:
print(bool("Hello"))

True

In [95]:
print(bool(0))

False

In [96]:
print(bool(17))

True

In [97]:
print(bool(1))

True

In [98]:
print(bool(''))

False

In [99]:
x="Hello"
y = 18

print(bool(x))
print(bool(y))

True
True

In [100]:
bool("abc")

True

In [101]:
bool(123)

True

In [102]:
bool(["apple","banana","cgerry"])

True

In [103]:
bool({1:"one",2:"two"})

True

In [104]:
bool(1,)

True

In [105]:
class MyClass():
    def __len__(self):
        return 0
    
obj = MyClass()
print(bool(obj))

False

In [106]:
def MyFunction():
    return True
print(MyFunction())

True

In [107]:
def MyFunction():
    return 1
if MyFunction():
    print("Yes!")
    
else:
    print("NOO!")

Yes!

In [108]:
a = 200

print(isinstance(a,int))

True

In [109]:
x = 'Python'

print(isinstance(x,str))

True

In [ ]:
# Python Operators

In [ ]:
Operators are used to perform operations on variables and values.

In [ ]:
#### Python divides the operators in the following groups:

### Arithmetic operators
### Assignment operators
### Comparison operators
### Logical operators
### Identity operators
### Membership operators
### Bitwise operators

In [110]:
# Python Arithmetic Operators

a = 50
b = 10

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

60
40
500
5.0
0
5
97656250000000000

In [111]:
# Python Assignment Operators
# Assignment operators are used to assign values to variables:

a = 10
# a +=50
# a = a + 50
# a *=2
# a /=2
# a //= 2
a **=2
print(a)

100

In [112]:
x = 10

# x &= 9
# x |=2
# x >>= 3

print(x:=2)

2

In [113]:
# Python Comparison Operators

x = 10
y = 20

print(x==y)
print(x<=y)
print(x>=y)
print(x<y)
print(x>y)
print(x != y)

False
True
False
True
False
True

In [114]:
# Python Logical Operators


x = 10

print(x>5 and x<5)
print(x<15 and x>2)

False
True

In [115]:
x = 10

print(x>5 or x<5)
print(x>2 or x<20)
print(x<0 or x>20)

True
True
False

In [116]:
x = 10

print(not(x<15 and x>5))
print(not(x<15 or x>20))

False
False

In [117]:
# Python Identity Operators

x = 10
y = 1

print(x is y)
print(x is not y)

False
True

In [118]:
# Python Membership Operators

x = ["apple","cherry","Banana"]
print("cherry" in x)

print("apple" not in x)

True
False

In [119]:
print((6 + 3) - (6 + 3))

0

In [120]:
print(100 + 5 * 3)

115

In [121]:
print(5 + 4 - 7 + 3)

5

In [ ]:
# Python Lists

In [ ]:
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [122]:
list1 = ["Apple","Banana","Cherry"]
print(list1)

['Apple', 'Banana', 'Cherry']

In [123]:
print(type(list1))

<class 'list'>

In [124]:
l1 = ["apple","banana","apple","Cherry","Banana"]
print(l1)

['apple', 'banana', 'apple', 'Cherry', 'Banana']

In [125]:
print(len(l1))

5

In [126]:
l1 = ["apple","Banana","Cherry"]
l2 = [1,2,3,4,5]
l3 = [True,True,False]
print(type(l1))
print(type(l2))
print(type(l3))

<class 'list'>
<class 'list'>
<class 'list'>

In [127]:
l1

['apple', 'Banana', 'Cherry']

In [128]:
del l1

In [129]:
l1 = [1,True,"Python",27]
print(l1)

[1, True, 'Python', 27]

In [130]:
l2 = list(("apple",10,True))
print(type(l2))
print(l2)

<class 'list'>
['apple', 10, True]

In [131]:
# Python - Access List Items

l1

[1, True, 'Python', 27]

In [132]:
print(l1[2])

Python

In [133]:
print(l1[-1])

27

In [134]:
print(l1[::-1])

[27, 'Python', True, 1]

In [135]:
print(l1[2:4])

['Python', 27]

In [136]:
print(l1[-2:-1])

['Python']

In [137]:
l1

[1, True, 'Python', 27]

In [138]:
print(l1[-4:])

[1, True, 'Python', 27]

In [139]:
s = "Python"
print(s[::-1])

nohtyP

In [140]:
s[-4:]

'thon'

In [141]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [142]:
print(thislist[-6:-3])

['banana', 'cherry', 'orange']

In [143]:
print(thislist[:-2])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [144]:
# Python change list items
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [145]:
thislist[1]= "Banana"
print(thislist)

['apple', 'Banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [146]:
thislist

['apple', 'Banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [147]:
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [148]:
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [149]:
thislist1 = ["apple", "banana", "cherry"]
thislist1[1:2] = ["blackcurrant", "watermelon"]
print(thislist1)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [150]:
l1 = ["apple","Banana","watermelon"]
l1[1:3] = ["cherry"]
print(l1)

['apple', 'cherry']

In [151]:
l1

['apple', 'cherry']

In [152]:
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [153]:
l1

['apple', 'cherry']

In [154]:
l1.insert(1,"watermelon")
l1

['apple', 'watermelon', 'cherry']

In [155]:
l1.pop()

'cherry'

In [156]:
l1

['apple', 'watermelon']

In [157]:
# example

mylist = ["apple","banana","cherry"]
mylist[1:2] = ["kiwi","mango"]
print(mylist[2])

# apple kiwi mango banana cherry

mango

In [158]:
# Python - Add List Items
mylist

['apple', 'kiwi', 'mango', 'cherry']

In [159]:
mylist.append("MANGO")
print(mylist)

['apple', 'kiwi', 'mango', 'cherry', 'MANGO']

In [160]:
del mylist

In [161]:
mylist = ["apple","Banana"]
mylist

['apple', 'Banana']

In [162]:
mylist.append("watermelon")
print(mylist)

['apple', 'Banana', 'watermelon']

In [163]:
# insert method

mylist

['apple', 'Banana', 'watermelon']

In [164]:
print(mylist.insert(1,"APPLE"))

None

In [165]:
mylist

['apple', 'APPLE', 'Banana', 'watermelon']

In [166]:
# Extend List

l1 = ['apple','banana','cherry']
l2 = ['APPLE','BANANA','CHERRY']
l1.extend(l2)
print(l1)

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [167]:
l3 = l1 + l2
print(l3)

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY', 'APPLE', 'BANANA', 'CHERRY']

In [168]:
del l3

In [169]:
l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [170]:
l2

['APPLE', 'BANANA', 'CHERRY']

In [171]:
tup1 = ("orange","kiwi")

l2.extend(tup1)
print(l2)

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [172]:
l2

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [173]:
# Python - Remove List Items
l2

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [174]:
l2.remove("CHERRY")
print(l2)

['APPLE', 'BANANA', 'orange', 'kiwi']

In [175]:
l2

['APPLE', 'BANANA', 'orange', 'kiwi']

In [176]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi']

In [177]:
l2.reverse()
print(l2)

['kiwi', 'orange', 'BANANA', 'APPLE']

In [178]:
a = [1,2,3,4]
print(a)

[1, 2, 3, 4]

In [179]:
# Python reverse() method

car = ["nano","tata","BMW"]
rev_car = list(reversed(car))

In [180]:
print(rev_car)

['BMW', 'tata', 'nano']

In [181]:
a.reverse()

In [182]:
print(a)

[4, 3, 2, 1]

In [183]:
a

[4, 3, 2, 1]

In [184]:
a
print(type(a))

<class 'list'>

In [185]:
a.reverse()
print(a)

[1, 2, 3, 4]

In [186]:
a

[1, 2, 3, 4]

In [187]:
# reversing a for loop using

list1 = [1,2,3,4]

rev = []

for i in list1:
    rev.insert(0,i)
print(rev)

[4, 3, 2, 1]

In [188]:
# Using List Comprehension

a = [1, 2, 3, 4, 5]

# Use list comprehension to create
# a reversed version of the list
rev = [a[i] for i in range(len(a) - 1, -1, -1)]
print(rev)

[5, 4, 3, 2, 1]

In [189]:
# pop() method

l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [190]:
l1.pop()

'CHERRY'

In [191]:
l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA']

In [192]:
l1.pop(3)

'APPLE'

In [193]:
l1

['apple', 'banana', 'cherry', 'BANANA']

In [194]:
# clear the list

l1

['apple', 'banana', 'cherry', 'BANANA']

In [195]:
l1.clear()
print(l1)

[]

In [196]:
l1

[]

In [197]:
# Python loop list

l1.insert(0,["apple","banana","watermelon"])
print(l1)

[['apple', 'banana', 'watermelon']]

In [198]:
l1

[['apple', 'banana', 'watermelon']]

In [199]:
del l1

In [200]:
l1 = ["apple","banana","watermelon"]
l1

['apple', 'banana', 'watermelon']

In [201]:
for i in l1:
    print(i)

apple
banana
watermelon

In [202]:
for i in range(len(l1)):
    print(l1[i])

apple
banana
watermelon

In [203]:
mylist = ["apple", "Banana","Cherry"]

for i in range(len(mylist)):
    print(mylist[i])

apple
Banana
Cherry

In [204]:
mylist

['apple', 'Banana', 'Cherry']

In [208]:
# Looping Using List Comprehension

mylist = ["apple","Banana","Cherry"]

a = [print(i) for i in mylist]

apple
Banana
Cherry

In [ ]:
# Python - List Comprehension

In [209]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []

for i in fruits:
    if "a" in i:
        newlist.append(i)
print(newlist)

['apple', 'banana', 'mango']

In [210]:
# using list comprehension

newlist1 = [ x for x in fruits if "a" in x]
print(newlist1)

['apple', 'banana', 'mango']

In [213]:
# Only accept items that are not "apple":

newlist1 = [x for x in fruits if x != "apple"]
print(newlist1)

['banana', 'cherry', 'kiwi', 'mango']

In [214]:
l1

['apple', 'banana', 'watermelon']

In [215]:
list1

[1, 2, 3, 4]

In [216]:
list1 = [1,"apple",True]

In [220]:
newlist = [x for x in range(1,11)]
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [223]:
# Accept only numbers lower than 5:

newlist = [a for a in range(10) if a<5]
print(newlist)

[0, 1, 2, 3, 4]

In [230]:
l = [i for i in range(1,11) ]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [231]:
newlist

[0, 1, 2, 3, 4]

In [232]:
mylist

['apple', 'Banana', 'Cherry']

In [234]:
mylist = [x.title() for x in mylist]
print(mylist)

['Apple', 'Banana', 'Cherry']

In [ ]:
# Python - Sort Lists

In [237]:
list1 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list1.sort()
print(list1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [240]:
l = [1,4,5,6,4,3,4,5,6,7,7,6,5,5,17,45,20]
l.sort()
print(l)

[1, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 17, 20, 45]

In [245]:
del l

In [248]:
l = [1,2,4,5,6,3,6,8,7,9,0,55]
l.sort(reverse=True)
print(l)

[55, 9, 8, 7, 6, 6, 5, 4, 3, 2, 1, 0]

In [249]:
l.sort(reverse=False)
print(l)

[0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 55]

In [250]:
def func(n):
    return abs(n-50)

list1=[100,50,65,82,23]
list1.sort(key=func)
print(list1)

[50, 65, 23, 82, 100]

In [253]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(reverse=False)
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
# Python - Copy Lists

In [254]:
# Use the copy() method

l1 = ["Python","ML","AI","c++"]
l2 = l1.copy()
print(l2)

['Python', 'ML', 'AI', 'c++']

In [255]:
l1

['Python', 'ML', 'AI', 'c++']

In [256]:
l2

['Python', 'ML', 'AI', 'c++']

In [257]:
# Use the list() method

thislist = ["apple","banana"]
mylist = list(thislist)
print(mylist)

['apple', 'banana']

In [258]:
thislist

['apple', 'banana']

In [259]:
mylist

['apple', 'banana']

In [260]:
# Use the slice Operator

thislist = ['a','b','c']
mylist = thislist[:]
print(mylist)

['a', 'b', 'c']

In [ ]:
# Python - Join Lists

In [261]:
list1 = ['a','b','c']
list2 = [1,2,3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [262]:
# append() method using

for i in list2:
    list1.append(i)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Python - List Methods

In [263]:
# append() method

l1 = ["python","Ml","AI"]
l1.append("c++")
print(l1)

['python', 'Ml', 'AI', 'c++']

In [264]:
l1

['python', 'Ml', 'AI', 'c++']

In [265]:
l1 = ["a","b","c"]
l2 = ["one","two","three"]
l1.append(l2)
print(l1)

['a', 'b', 'c', ['one', 'two', 'three']]

In [266]:
# clear() method

l1

['a', 'b', 'c', ['one', 'two', 'three']]

In [267]:
l1.clear()

In [268]:
l1

[]

In [269]:
# copy() method

fruits = ['apple','banana','cherry']

newlist = fruits.copy()
print(newlist)

['apple', 'banana', 'cherry']

In [271]:
# count() method

newlist

['apple', 'banana', 'cherry']

In [273]:
x = newlist.count("apple")
print(x)

1

In [277]:
l1 = ['apple','apple','pinepale','orange','apple']
x = l1.count('apple')
print(x)

3

In [280]:
# extend() method

l1 = [1,2,3]
l2 = [4,5,6]

l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6]

In [281]:
l1

[1, 2, 3, 4, 5, 6]

In [282]:
fruits = ['apple','banana','orange']
points = [1,2,3,5,6]

fruits.extend(points)
print(fruits)

['apple', 'banana', 'orange', 1, 2, 3, 5, 6]

In [283]:
# index() method 
l1

[1, 2, 3, 4, 5, 6]

In [286]:
x = l1.index(2)
print(x)

1

In [287]:
fruits

['apple', 'banana', 'orange', 1, 2, 3, 5, 6]

In [288]:
a = fruits.index('orange')

In [289]:
a

2

In [294]:
# insert() method

l1 = ['python','ml']
l1.insert(0,"c++")
print(l1)

['c++', 'python', 'ml']

In [295]:
l1

['c++', 'python', 'ml']

In [296]:
# pop()
# remove()
# reverse()
# sort()

In [297]:
l1=['a','b','c']
l1.reverse()
print(l1)

['c', 'b', 'a']

In [301]:
l1=[1,2,3]
l1.reverse()
print(l1)

[3, 2, 1]

In [ ]:
# Python Tuples

In [ ]:
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [302]:
tup1 = ("Apple","Banana","Cherry")
print(type(tup1))

<class 'tuple'>

In [303]:
tup1

('Apple', 'Banana', 'Cherry')

In [304]:
tup2 = ('apple','banana','cherry','apple','cherry')
tup2

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [305]:
print(len(tup1))
print(len(tup2))

3
5

In [306]:
# create tuple with one item

t1 = ('python',)
print(t1)

('python',)

In [307]:
# not allowed
t2 = ('python')
print(type(t2))

<class 'str'>

In [309]:
tup1=('Apple',1,True,'banana')

In [310]:
tup1

('Apple', 1, True, 'banana')

In [312]:
# The tuple() Constructor

thistuple = tuple(('apple','banana','papaya'))
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple', 'banana', 'papaya')

In [315]:
# access  tuple items

thistuple

('apple', 'banana', 'papaya')

In [316]:
print(thistuple[1])

banana

In [318]:
print(thistuple[0:2])

('apple', 'banana')

In [321]:
print(thistuple[:-2])

('apple',)

In [322]:
thistuple

('apple', 'banana', 'papaya')

In [326]:
if "banana" in thistuple:
    print("Yes , 'apple' is in the tuple ")

Yes , 'apple' is in the tuple

In [328]:
# Convert the tuple into a list to be able to change it:

x = ("apple","banana","cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [329]:
x

('apple', 'kiwi', 'cherry')

In [331]:
t = ('apple','banana','kiwi')

In [332]:
l1= list(t)
l1.append('watermelon')
t = tuple(l1)
print(t)

('apple', 'banana', 'kiwi', 'watermelon')

In [333]:
t

('apple', 'banana', 'kiwi', 'watermelon')

In [334]:
del t

In [337]:
# Packing  a Tuple

fruits = ("apple","banana","cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [338]:
# unpaking a tuple

fruits = ("apple","banana","cherry")
(green,yellow,red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [341]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [343]:
# Python - Loop Tuples

for x in fruits:
    print(x,end=",")

apple,banana,cherry,strawberry,raspberry,

In [344]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
strawberry
raspberry

In [346]:
# Python - Join Tuples

tup1 = (1,2,3)
tup2 = ('a','b','c')

t = tup1 + tup2
print(t)

(1, 2, 3, 'a', 'b', 'c')

In [347]:
mytup = tup1 * 3
print(mytup)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# Python - Tuple Methods

In [ ]:
# Python has Two built-in method that you can used

# (1)--> count()
# (2)--> index()

In [348]:
t

(1, 2, 3, 'a', 'b', 'c')

In [350]:
x = t.count(3)
print(x)

1

In [351]:
fruits

('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

In [352]:
x = fruits.index("cherry")

In [353]:
x

2

In [354]:
t = (1,2,3)
t = t*2
print(t)

(1, 2, 3, 1, 2, 3)

In [ ]:
# Python Sets

In [ ]:
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [358]:
set1 = {"apple",1,"banana",2,1,"apple"}
print(set1)
print(type(set1))
print(set1)

{1, 'apple', 2, 'banana'}
<class 'set'>
{1, 'apple', 2, 'banana'}

In [361]:
set1 = {"apple","banana","cherry"}
set1

{'apple', 'banana', 'cherry'}

In [362]:
s1 = {"apple","banana","cherry",True,1,0,False}
s1

{0, True, 'apple', 'banana', 'cherry'}

In [363]:
print(len(s1))

5

In [365]:
thisset = set(("a",2,"b",2)) # using set() constructor
print(type(thisset))

<class 'set'>

In [366]:
a = list(("a","b")) # using list() constructor
print(type(a))

<class 'list'>

In [367]:
b = tuple((1,))  # using tuple() constructor
print(type(b))

<class 'tuple'>

In [368]:
# Python - Access Set Items

t

(1, 2, 3, 1, 2, 3)

In [369]:
s1

{0, True, 'apple', 'banana', 'cherry'}

In [371]:
for i in s1:
    print(i)

0
True
cherry
apple
banana

In [373]:
print("banana" in s1)

False

In [374]:
s1

'a'

In [375]:
set1 = {1,2,3,4,5,"apple","watermelon"}
print("apple" in set1)

True

In [377]:
print("cherry" not in set1)

True

In [378]:
thisset = {"apple","banana","cherry"}
thisset.add("watermelon")
print(thisset)

{'apple', 'watermelon', 'banana', 'cherry'}

In [379]:
thisset

{'apple', 'banana', 'cherry', 'watermelon'}

In [380]:
set1

{1, 2, 3, 4, 5, 'apple', 'watermelon'}

In [381]:
thisset.update(set1)
print(thisset)

{1, 2, 3, 4, 5, 'apple', 'watermelon', 'cherry', 'banana'}

In [382]:
thisset

{1, 2, 3, 4, 5, 'apple', 'banana', 'cherry', 'watermelon'}

In [383]:
l1 = ['a','b']
thisset.update(l1)
print(thisset)

{1, 2, 3, 4, 5, 'a', 'b', 'apple', 'watermelon', 'cherry', 'banana'}

In [387]:
thisset.add("APPLE")
print(thisset)

{1, 2, 3, 4, 5, 'a', 'b', 'apple', 'watermelon', 'cherry', 'Ture', 'banana', 'APPLE'}

In [390]:
# Python - Remove Set Items

thisset = {"apple", "banana", "cherry"} # using remove()  set error through
thisset.remove("cher")
print(thisset)

KeyError: 'cher'

In [402]:
thisset = {"apple", "banana", "cherry"} #using discard() not error through
thisset.discard("appl")
print(thisset)

{'apple', 'banana', 'cherry'}

In [393]:
thisset

{'banana', 'cherry'}

In [395]:
x = thisset.pop()
print(x)
print(thisset)

cherry
set()

In [396]:
thisset

set()

In [397]:
set1

{1, 2, 3, 4, 5, 'apple', 'watermelon'}

In [398]:
print(set1.clear())

None

In [399]:
set1

set()

In [400]:
del thisset

In [417]:
# Python - Loop Sets

thisset = {"apple", "banana", "cherry"}

for x in enumerate(thisset):
      print(list(x))

[0, 'apple']
[1, 'banana']
[2, 'cherry']

#  Join Sets
    There are several ways to join two or more sets in Python.

    The union() and update() methods joins all items from both sets.

    The intersection() method keeps ONLY the duplicates.

    The difference() method keeps the items from the first set that are not in the other set(s).
    
    The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [418]:
# union()

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [420]:
# using |operator same as union()

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [422]:
# multipale sets join

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)
print(len(myset))

{1, 2, 'a', 3, 'b', 'apple', 'bananas', 'c', 'Elena', 'cherry', 'John'}
11

In [423]:
x = {1,2,3}
y = ('a','b','c')

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

In [425]:
x ={1,2,3}
y = {'a','b','c'}

z = x | y
z

{1, 2, 3, 'a', 'b', 'c'}

In [426]:
set1 = {"a", "b" , "c","a"}
set2 = {1, 2, 3,2}

set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'b', 'c'}

# sine of join set

    union() = |
    intersection() = &
    difference() = -
    symmetric_difference() = ^

In [432]:
# union() = |

set1 = {'a','b','c'}
set2 = {1,2,3}

# set3 = set1.union(set2) or
set3 = set1 | set2
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [434]:
# intersection() = &

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# set3 = set1.intersection(set2) or
set3 = set1 & set2
print(set3)

{'apple'}

In [435]:
# intersection_update() 

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [438]:
# difference() = -

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# set3 = set1.difference(set2) or
set3 = set1 - set2

print(set3)

{'banana', 'cherry'}

In [439]:
# difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [443]:
# symmetric_difference() = ^


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# set3 = set1.symmetric_difference(set2) or
set3 = set1 ^ set2

print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [444]:
# symmetric_difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'cherry', 'microsoft', 'banana'}

# Python - Set Methods

# add()	 	Adds an element to the set
# clear()	 	Removes all the elements from the set
# copy()	 	Returns a copy of the set
# difference()	-	Returns a set containing the difference between two or more sets
# difference_update()	-=	Removes the items in this set that are also included in another, specified set
# discard()	 	Remove the specified item
# intersection()	&	Returns a set, that is the intersection of two other sets
# intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
# isdisjoint()	 	Returns whether two sets have a intersection or not
# issubset()	<=	Returns whether another set contains this set or not
#  	<	Returns whether all items in this set is present in other, specified set(s)
# issuperset()	>=	Returns whether this set contains another set or not
#  	>	Returns whether all items in other, specified set(s) is present in this set
# pop()	 	Removes an element from the set
# remove()	 	Removes the specified element
# symmetric_difference()	^	Returns a set with the symmetric differences of two sets
# symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
# union()	|	Return a set containing the union of sets
# update()	|=	Update the set with the union of this set and others


# Python Dictionaries

In [446]:
mydict = {
    "brand":"Ford",
    "model":"Mustang",
    "year":"1964"
}

print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}

In [447]:
print(mydict['model'])

Mustang

In [450]:
print(mydict["year"])

1964

In [453]:
d = {
    "brand": "ford",
    "model":"BMW",
    "model": "Mustang",
    "year": 1964,
    "year": 1998
}
print(d)  # Duplicate not allowed

{'brand': 'ford', 'model': 'Mustang', 'year': 1998}

In [454]:
print(len(d))

3

In [455]:
d1 = {
    "brand":"Ford",
    "electric":False,
    "year":1998,
    "colors":["red","green","yellow"]
    
}
print(d1)

{'brand': 'Ford', 'electric': False, 'year': 1998, 'colors': ['red', 'green', 'yellow']}

In [456]:
# using dict() constructor

d3 = dict(name='ram',age=27,country="IND")
print(d3)
print(type(d3))
print(len(d1))

{'name': 'ram', 'age': 27, 'country': 'IND'}
<class 'dict'>
4

In [457]:
# Python - Access Dictionary Items

d1

{'brand': 'Ford',
 'electric': False,
 'year': 1998,
 'colors': ['red', 'green', 'yellow']}

In [458]:
x = d1["colors"]
x

['red', 'green', 'yellow']

In [463]:
x = d1.get("electric")
x

False

In [465]:
a = d1.keys()
print(a)

dict_keys(['brand', 'electric', 'year', 'colors'])

In [468]:
a =d1.values()
print(a)

dict_values(['Ford', False, 1998, ['red', 'green', 'yellow']])

In [476]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:


car =dict(brand="Mustang",model="Ford",year=1964,color=['red','blue'])

x = car.keys()
print(x)

car["electric"]=False
print(car.keys())
print(car)

dict_keys(['brand', 'model', 'year', 'color'])
dict_keys(['brand', 'model', 'year', 'color', 'electric'])
{'brand': 'Mustang', 'model': 'Ford', 'year': 1964, 'color': ['red', 'blue'], 'electric': False}

In [477]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 1964,
 'color': ['red', 'blue'],
 'electric': False}

In [478]:
x = car.values()
print(x)

dict_values(['Mustang', 'Ford', 1964, ['red', 'blue'], False])

In [479]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 1964,
 'color': ['red', 'blue'],
 'electric': False}

In [480]:
car["year"] = 2020
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False}

In [481]:
# items()  method


x = car.items()
x

dict_items([('brand', 'Mustang'), ('model', 'Ford'), ('year', 2020), ('color', ['red', 'blue']), ('electric', False)])

In [482]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False}

In [483]:
type(car)

dict

In [484]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False}

In [485]:
car["day"] = "monday"
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False,
 'day': 'monday'}

In [486]:
car["day"] = "sunday"
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False,
 'day': 'sunday'}

In [487]:
car.items()

dict_items([('brand', 'Mustang'), ('model', 'Ford'), ('year', 2020), ('color', ['red', 'blue']), ('electric', False), ('day', 'sunday')])

In [489]:
car.keys()

dict_keys(['brand', 'model', 'year', 'color', 'electric', 'day'])

In [490]:
car.values()

dict_values(['Mustang', 'Ford', 2020, ['red', 'blue'], False, 'sunday'])

In [492]:
x=car.get('color')
x

['red', 'blue']

In [493]:
# example

x = {
    "type":"fruits",
    "name":"banana",
    
}
print(x['type'])

fruits

In [495]:
# Python - Change Dictionary Items

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [500]:
# update()

d = {
    "one":1,
    "two":2,
    "three":3,
}
d.update({"two":20})

In [501]:
d

{'one': 1, 'two': 20, 'three': 3}

In [502]:
d.update({"five":5})
d

{'one': 1, 'two': 20, 'three': 3, 'five': 5}

In [504]:
d.update({"two":2})
d

{'one': 1, 'two': 2, 'three': 3, 'five': 5}

In [505]:
d

{'one': 1, 'two': 2, 'three': 3, 'five': 5}

In [506]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.update({"electric":True,"day":"monday"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'electric': True, 'day': 'monday'}

In [507]:
# Removing Items in dict()
# pop() method
thisdict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'electric': True,
 'day': 'monday'}

In [508]:
thisdict.pop("day")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'electric': True}

In [510]:
# popitem() method


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "day":"sunday"
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [511]:
del thisdict["model"]
thisdict

{'brand': 'Ford', 'year': 1964}

In [513]:
thisdict.items()

dict_items([('brand', 'Ford'), ('year', 1964)])

In [515]:
d = {
    "one":1,
    "two":2,
}
del d
# print(d)

In [517]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [518]:
thisdict

{}

In [519]:
thisdict.update({"one":1,"two":2})
print(thisdict)

{'one': 1, 'two': 2}

In [520]:
thisdict

{'one': 1, 'two': 2}

In [521]:
del thisdict

In [526]:
# Python - Loop Dictionaries

d = dict(one=1,two=2)
d

{'one': 1, 'two': 2}

In [530]:
for x , y in d.items():
    print(x,y)

one 1
two 2

In [531]:
d.items()

dict_items([('one', 1), ('two', 2)])

In [1]:
# Python - Copy Dictionaries

thisdict = {
        "brand":"Ford",
        "model":"Mustang",
        "year":1964
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [2]:
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [8]:
d = dict(brand='ford',model='BMW',electric=False)
print(d)

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [9]:
d1 = dict(d)
d1

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [10]:
d

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [11]:
d1

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [14]:
# Python - Nested Dictionaries

myfamily = {
    "child1":{
        "name":"ram",
        "year":2003
    },
    "child2":{
        "mame":"raj",
        "year":2004
    },
    "child3":{
        "name":"jay",
        "year":2005
    }
}
print(myfamily)

{'child1': {'name': 'ram', 'year': 2003}, 'child2': {'mame': 'raj', 'year': 2004}, 'child3': {'name': 'jay', 'year': 2005}}

In [15]:
# Create three dictionaries, then create one dictionary,
#     that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

MyFamily = {
    "child1":child1,
    "child2":child2,
    "child3":child3
}

print(MyFamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [16]:
# Access Items in Nested Dictionaries

print(MyFamily['child2']['year'])

2007

In [17]:
print(myfamily['child3']['name'])

jay

In [22]:
# loop through nested dictionaries using items() method

for a,b in MyFamily.items():
    print(a,b)
    
#     for y in b:
#         print(y + ':',b[y])

child1 {'name': 'Emil', 'year': 2004}
child2 {'name': 'Tobias', 'year': 2007}
child3 {'name': 'Linus', 'year': 2011}

# Python Dictionary Methods

In [24]:
# clear() method

d4 = {
    'one':1,
    'two':2,
    'three':3
}

print(d4) # after dict

d4.clear() 
print(d4) # before dict

{'one': 1, 'two': 2, 'three': 3}
{}

In [27]:
# copy() method

di1 = dict(name='ram',year=1998)
# print(di1)

di2= di1.copy()
print(di2)

{'name': 'ram', 'year': 1998}

In [30]:
# fromkeyes() method

x = ('key1','key2','key3')
y = 5

thisdict = dict.fromkeys(x,y)
print(thisdict)

{'key1': 5, 'key2': 5, 'key3': 5}

In [29]:
a = ('k1','k2','k3')

dd = dict.fromkeys(a)
print(dd)

{'k1': None, 'k2': None, 'k3': None}

In [33]:
# get() method

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")
# x
#  or
# x = car['model']
x

'Mustang'

In [34]:
# items() method

a = car.items()
a

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [35]:
# keys() method

p = car.keys()
p

dict_keys(['brand', 'model', 'year'])

In [ ]:
# pop() method