In [1]:
import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [2]:
# Python comments

In [3]:
# add tha two number
print(5+22)
# this is comments
print('hello')

27
hello

In [4]:
# print("hello Python")
print("hii .. Python!")

hii .. Python!

In [5]:
# Multiline comments in Python

# this is comments
# hello 
# more line
print('Python')

Python

In [6]:
''' hello 
How are you
    welcome
'''      #this is comments 
print('hii..')

hii..

# Python Variables

#  Variables are containers for storing data values.

In [9]:
x = 5  #int
y = 'Python' #str

print(x)
print(y)

5
Python

In [10]:
# Python Casting

In [11]:
x = str(5)
print(x)
y = int(5)
print(y)
z = float(5)
print(z)

5
5
5.0

In [12]:
# Using type() function

x = 10
print(type(x))

y = "Python"
print(type(y))

a = True
print(type(a))

b = 3.14
print(type(b))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [13]:
# x = "Python"
x = 'Python'
print(x)

Python

In [14]:
#  Python is Case Sensitive

In [15]:
a = 5
A = "Python"
print(id(a))
print(id(A))

2303675269488
2303680530224

In [16]:
# var = 'Python'
# my_var='Python'
_='Python' 
print(_)

Python

In [17]:
# Python multiple  variables  

a,b,c = "Python",50,"AI"
print(a)
print(b)
print(c)

Python
50
AI

In [18]:
x = y = z = "Python"
print(id(x))
print(id(y))
print(id(z))
print(z)

2303680530224
2303680530224
2303680530224
Python

In [19]:
# Python in Unpack a Collection

In [20]:
l1 = ["Python","ML","AI"]
x,y,z=l1
print(x)
print(y)
print(z)

Python
ML
AI

In [21]:
# Python - Global Variables

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [40]:
x = "Python"

def myfunc():
    print("Best language is " + x)
    
myfunc()
print(x)

Best language is Python
Python

In [41]:
x = "awesome"

def myfunc():
    x = "Fantastic"
    
    print("Python is " + x)
    
myfunc()

print("Python is " + x)

Python is Fantastic
Python is awesome

In [42]:
# The global Keyword in Python

In [43]:
def myfunc():
    global x
    x = "Fantastic"
    
myfunc()

print("Python is " + x)

Python is Fantastic

In [44]:
# Accessing global Variable From Inside a Function

# global variable

a = 10
b = 15

# function to perform add

def add():
    c = a+b
    print(c)
    
add()

25

In [45]:
# Modifying Global Variable From Inside the Function

a = 15

# funtion to change a global value

def change():
    b = a + 5
    a=b
    print(b)
    
change()

UnboundLocalError: local variable 'a' referenced before assignment

In [46]:
#  Changing Global Variable From Inside a Function using global

x = 15


def change():
# using a global keyword
    global x

    # increment value of a by 5
    x = x + 5
    print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

In [47]:
# exercise global keyword

x = "awesome"

def myfunc():
    x = "fantastic"
myfunc()
print("Python is " + x)

Python is awesome

In [48]:
# exercise

x = "awesome"

def myfunc():
    global x 
    
    x = "Fantastic"
myfunc()
print("Python is  " + x)

Python is  Fantastic

In [49]:
# Python Data-Types

In [50]:
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [1]:
x = "Hello world"
print(type(x))

x = 20
print(type(x))

x = 3.14
print(type(x))

x = True
print(type(x))

x = (1+2j)
print(type(x))

x = [1,'Python',False]
print(type(x))

x= (1,'Python')
print(type(x))

x = {1:'one',
    2:'two'}
print(type(x))

x = None
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

In [2]:
x = frozenset({"apple","Banana"})
print(type(x))
x

<class 'frozenset'>

frozenset({'Banana', 'apple'})

In [53]:
x = b"Hello"
print(type(x))
x = b'1'
print(type(x))

<class 'bytes'>
<class 'bytes'>

In [54]:
x = bytearray(50)
print(type(x))

<class 'bytearray'>

In [55]:
x = memoryview(bytes(5))
print(type(x))
print(x)

<class 'memoryview'>
<memory at 0x0000021864878880>

In [56]:
a = str("Python")
print(type(a))

<class 'str'>

In [57]:
a = complex(1j)
print(type(a))
print(a)

<class 'complex'>
1j

In [58]:
#  Python Type Conversion

In [59]:
# You cannot convert complex numbers into another number type.

x = 1     #int
y = 3.14  #float
z = 1j    #complex

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
3
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [60]:
# Python Random Module

import random
print(random.randrange(1,11))
print(random.randint(1,10))

5
10

In [61]:
# Python Random Module

In [62]:
import random

In [63]:
random.seed(10)
print(random.random())

0.5714025946899135

In [64]:
import random

random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [65]:
import random

print(random.random())

0.4288890546751146

In [66]:
# Python Strings

In [67]:
print("Python")
print('Python')

Python
Python

In [68]:
# Quotes Inside Quotes

print("it's alright")
print("he is called 'Jonny'")
print('He is called "P"')

it's alright
he is called 'Jonny'
He is called "P"

In [69]:
a = "Hello World!"
print(a[2])
print(a[-1])
# print(a[5])

l
!

In [532]:
for x in "Apple":
    print(x)

A
p
p
l
e

In [71]:
# how to find string Length

a = "Hello Everyone"
print(len(a))

14

In [72]:
txt = "The best things in life are free"
print("life" in txt)

True

In [73]:
"are" in txt

True

In [74]:
txt = "The best things in life are free"

if "bet" in txt:
    print("yes, 'best' in presents")
else:
    print("not presents in txt")

not presents in txt

In [75]:
txt = "The best things in life are free"  # NOT IN 

print("all" not in txt)

True

In [76]:
# Exercise
x = "Welcome"

print(x[3])

c

In [77]:
# Python - Slicing Strings

In [78]:
a = "Hello, World!"
# print(a[2:5])   
print(a[:5])  # slice from the start

Hello

In [79]:
b = "Hello, World!"
print(b[6:])      # slice th the END

 World!

In [80]:
# nagative indexing
b

'Hello, World!'

In [81]:
print(b[-1])

!

In [82]:
print(b[-5:-2])

orl

In [83]:
print(b[-11:-3])

llo, Wor

In [84]:
# Python - Modify Strings

a = "Hello, World!"
# a.upper()
a.lower()

'hello, world!'

In [85]:
a = " Hello , World  "

print(a.strip())
print(a.rstrip())
print(a.lstrip())

Hello , World
 Hello , World
Hello , World

In [86]:
# Replace String
print(a)

 Hello , World

In [87]:
x = "Pratap , Makwana"

print(x.replace("a","@"))

Pr@t@p , M@kw@n@

In [88]:
print(x.replace("t","T"))

PraTap , Makwana

In [89]:
print(x.replace(",","bhai"))

Pratap bhai Makwana

In [90]:
x = "Python ,@  and AI!"
print(x.split())

['Python', ',@', 'and', 'AI!']

In [91]:
x = "P y th o n"
x.split()

['P', 'y', 'th', 'o', 'n']

In [92]:
x.splitlines()

['P y th o n']

In [93]:
a

' Hello , World  '

In [94]:
a.splitlines()

[' Hello , World  ']

In [95]:
x

'P y th o n'

In [96]:
x= "Pyt!ho!n,ML!"
print(x.split("!"))

['Pyt', 'ho', 'n,ML', '']

In [97]:
# Python - String Concatenation

In [98]:
a = "Hello "
b = "World"
x = a+b
print(x)

Hello World

In [99]:
a = "Hello"
b = "World"

c = a + "  " +b
print(c)

Hello  World

In [100]:
# F-Strings

In [101]:
name = "Jay"
age = 27
txt = f"My name is {name}, I am {age} year old!"
print(txt)

My name is Jay, I am 27 year old!

In [102]:
price = 60

txt = f"The price is {price} dollers($)"
print(txt)

The price is 60 dollers($)

In [103]:
price = 60
txt = f"The price is {price:.2f} dollers($)"
print(txt)

The price is 60.00 dollers($)

In [104]:
txt = f"The price is {20*10} dollers"
print(txt)

The price is 200 dollers

In [105]:
# Python - Escape Characters

In [106]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [107]:
txt = "Hello Everyone , How \"are\" you ." #using backslash \
print(txt)

Hello Everyone , How "are" you .

In [108]:
# single quote

txt = 'It\'s alright.'
print(txt)

It's alright.

In [109]:
# Backslash

txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [110]:
# new line

txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [111]:
txt = "Hello\nEveryone!"
print(txt)

Hello
Everyone!

In [112]:
# Carriage Return

txt = "Hello\rWorld!"
print(txt)

Hello
World!

In [113]:
x = "welcome to\n \rour office!"
print(x)

welcome to

our office!

In [114]:
# Tab

x = "Hello\tWorld"
print(x)

Hello	World

In [115]:
# Backspace

txt = "Hello  \bWorld!"
print(txt)

Hello  World!

In [116]:
# Form Feed
txt = "Hello\f world"
print(txt)

Hello
 world

In [117]:
# octal value

txt = "\110\145\154\154\157"
print(txt)

Hello

In [118]:
# Python - String Methods

In [119]:
txt = "Hello , World!"
# print(txt.capitalize())
# print(txt.casefold())
# print(txt.center(1))
# print(txt.count('o'))
# print(txt.encode())
# print(txt.endswith('d!'))
# print(txt.expandtabs())
# print(txt.find('r'))
# print(txt.format())
# print(txt.format_map(','))
# print(txt.index('o'))
# print(txt.isalnum())
# print(txt.isalpha())
# print(txt.isascii())
# print(txt.isdecimal())
# print(txt.isdigit())
# print(txt.isidentifier())
# print(txt.islower())
# print(txt.isnumeric())
# print(txt.isprintable())
# print(id(txt))
# print(txt.isspace())
# print(txt.istitle())
# print(txt.isupper())

In [120]:
txt

'Hello , World!'

In [121]:
txt.startswith("H")

True

In [122]:
txt.split('l')

['He', '', 'o , Wor', 'd!']

In [123]:
txt.splitlines()

['Hello , World!']

In [124]:
txt

'Hello , World!'

In [125]:
txt.swapcase()

'hELLO , wORLD!'

In [126]:
txt.translate('H')

'Hello , World!'

In [127]:
a = "Python"
a.translate('y')

'Python'

In [128]:
# Python Booleans

In [129]:
print(10>0)
print(1<-8)
print(0==1)

True
False
False

In [130]:
a = 200
b= 33

if b<a:
    print("b  is greter of a")
    
else:
    print("b is not grater than a")

b  is greter of a

In [131]:
print(bool("Hello"))

True

In [132]:
print(bool(0))

False

In [133]:
print(bool(17))

True

In [134]:
print(bool(1))

True

In [135]:
print(bool(''))

False

In [136]:
x="Hello"
y = 18

print(bool(x))
print(bool(y))

True
True

In [137]:
bool("abc")

True

In [138]:
bool(123)

True

In [139]:
bool(["apple","banana","cgerry"])

True

In [140]:
bool({1:"one",2:"two"})

True

In [141]:
bool(1,)

True

In [142]:
class MyClass():
    def __len__(self):
        return 0
    
obj = MyClass()
print(bool(obj))

False

In [143]:
def MyFunction():
    return True
print(MyFunction())

True

In [144]:
def MyFunction():
    return 1
if MyFunction():
    print("Yes!")
    
else:
    print("NOO!")

Yes!

In [145]:
a = 200

print(isinstance(a,int))

True

In [146]:
x = 'Python'

print(isinstance(x,str))

True

In [147]:
# Python Operators

In [148]:
Operators are used to perform operations on variables and values.

SyntaxError: invalid syntax (497636064.py, line 1)

In [149]:
#### Python divides the operators in the following groups:

### Arithmetic operators
### Assignment operators
### Comparison operators
### Logical operators
### Identity operators
### Membership operators
### Bitwise operators

In [150]:
# Python Arithmetic Operators

a = 50
b = 10

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

60
40
500
5.0
0
5
97656250000000000

In [151]:
# Python Assignment Operators
# Assignment operators are used to assign values to variables:

a = 10
# a +=50
# a = a + 50
# a *=2
# a /=2
# a //= 2
a **=2
print(a)

100

In [152]:
x = 10

# x &= 9
# x |=2
# x >>= 3

print(x:=2)

2

In [153]:
# Python Comparison Operators

x = 10
y = 20

print(x==y)
print(x<=y)
print(x>=y)
print(x<y)
print(x>y)
print(x != y)

False
True
False
True
False
True

In [154]:
# Python Logical Operators


x = 10

print(x>5 and x<5)
print(x<15 and x>2)

False
True

In [155]:
x = 10

print(x>5 or x<5)
print(x>2 or x<20)
print(x<0 or x>20)

True
True
False

In [156]:
x = 10

print(not(x<15 and x>5))
print(not(x<15 or x>20))

False
False

In [157]:
# Python Identity Operators

x = 10
y = 1

print(x is y)
print(x is not y)

False
True

In [158]:
# Python Membership Operators

x = ["apple","cherry","Banana"]
print("cherry" in x)

print("apple" not in x)

True
False

In [159]:
print((6 + 3) - (6 + 3))

0

In [160]:
print(100 + 5 * 3)

115

In [161]:
print(5 + 4 - 7 + 3)

5

# Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [164]:
list1 = ["Apple","Banana","Cherry"]
print(list1)

['Apple', 'Banana', 'Cherry']

In [165]:
print(type(list1))

<class 'list'>

In [166]:
l1 = ["apple","banana","apple","Cherry","Banana"]
print(l1)

['apple', 'banana', 'apple', 'Cherry', 'Banana']

In [167]:
print(len(l1))

5

In [168]:
l1 = ["apple","Banana","Cherry"]
l2 = [1,2,3,4,5]
l3 = [True,True,False]
print(type(l1))
print(type(l2))
print(type(l3))

<class 'list'>
<class 'list'>
<class 'list'>

In [169]:
l1

['apple', 'Banana', 'Cherry']

In [170]:
del l1

In [171]:
l1 = [1,True,"Python",27]
print(l1)

[1, True, 'Python', 27]

In [172]:
l2 = list(("apple",10,True))
print(type(l2))
print(l2)

<class 'list'>
['apple', 10, True]

In [173]:
# Python - Access List Items

l1

[1, True, 'Python', 27]

In [174]:
print(l1[2])

Python

In [175]:
print(l1[-1])

27

In [176]:
print(l1[::-1])

[27, 'Python', True, 1]

In [177]:
print(l1[2:4])

['Python', 27]

In [178]:
print(l1[-2:-1])

['Python']

In [179]:
l1

[1, True, 'Python', 27]

In [180]:
print(l1[-4:])

[1, True, 'Python', 27]

In [181]:
s = "Python"
print(s[::-1])

nohtyP

In [182]:
s[-4:]

'thon'

In [183]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [184]:
print(thislist[-6:-3])

['banana', 'cherry', 'orange']

In [185]:
print(thislist[:-2])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [186]:
# Python change list items
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [187]:
thislist[1]= "Banana"
print(thislist)

['apple', 'Banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [188]:
thislist

['apple', 'Banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [189]:
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [190]:
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [191]:
thislist1 = ["apple", "banana", "cherry"]
thislist1[1:2] = ["blackcurrant", "watermelon"]
print(thislist1)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [192]:
l1 = ["apple","Banana","watermelon"]
l1[1:3] = ["cherry"]
print(l1)

['apple', 'cherry']

In [193]:
l1

['apple', 'cherry']

In [194]:
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [195]:
l1

['apple', 'cherry']

In [196]:
l1.insert(1,"watermelon")
l1

['apple', 'watermelon', 'cherry']

In [197]:
l1.pop()

'cherry'

In [198]:
l1

['apple', 'watermelon']

In [199]:
# example

mylist = ["apple","banana","cherry"]
mylist[1:2] = ["kiwi","mango"]
print(mylist[2])

# apple kiwi mango banana cherry

mango

In [200]:
# Python - Add List Items
mylist

['apple', 'kiwi', 'mango', 'cherry']

In [201]:
mylist.append("MANGO")
print(mylist)

['apple', 'kiwi', 'mango', 'cherry', 'MANGO']

In [202]:
del mylist

In [203]:
mylist = ["apple","Banana"]
mylist

['apple', 'Banana']

In [204]:
mylist.append("watermelon")
print(mylist)

['apple', 'Banana', 'watermelon']

In [205]:
# insert method

mylist

['apple', 'Banana', 'watermelon']

In [206]:
print(mylist.insert(1,"APPLE"))

None

In [207]:
mylist

['apple', 'APPLE', 'Banana', 'watermelon']

In [208]:
# Extend List

l1 = ['apple','banana','cherry']
l2 = ['APPLE','BANANA','CHERRY']
l1.extend(l2)
print(l1)

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [209]:
l3 = l1 + l2
print(l3)

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY', 'APPLE', 'BANANA', 'CHERRY']

In [210]:
del l3

In [211]:
l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [212]:
l2

['APPLE', 'BANANA', 'CHERRY']

In [213]:
tup1 = ("orange","kiwi")

l2.extend(tup1)
print(l2)

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [214]:
l2

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [215]:
# Python - Remove List Items
l2

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [216]:
l2.remove("CHERRY")
print(l2)

['APPLE', 'BANANA', 'orange', 'kiwi']

In [217]:
l2

['APPLE', 'BANANA', 'orange', 'kiwi']

In [218]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi']

In [219]:
l2.reverse()
print(l2)

['kiwi', 'orange', 'BANANA', 'APPLE']

In [220]:
a = [1,2,3,4]
print(a)

[1, 2, 3, 4]

In [221]:
# Python reverse() method

car = ["nano","tata","BMW"]
rev_car = list(reversed(car))

In [222]:
print(rev_car)

['BMW', 'tata', 'nano']

In [223]:
a.reverse()

In [224]:
print(a)

[4, 3, 2, 1]

In [225]:
a

[4, 3, 2, 1]

In [226]:
a
print(type(a))

<class 'list'>

In [227]:
a.reverse()
print(a)

[1, 2, 3, 4]

In [228]:
a

[1, 2, 3, 4]

In [229]:
# reversing a for loop using

list1 = [1,2,3,4]

rev = []

for i in list1:
    rev.insert(0,i)
print(rev)

[4, 3, 2, 1]

In [230]:
# Using List Comprehension

a = [1, 2, 3, 4, 5]

# Use list comprehension to create
# a reversed version of the list
rev = [a[i] for i in range(len(a) - 1, -1, -1)]
print(rev)

[5, 4, 3, 2, 1]

In [231]:
# pop() method

l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [232]:
l1.pop()

'CHERRY'

In [233]:
l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA']

In [234]:
l1.pop(3)

'APPLE'

In [235]:
l1

['apple', 'banana', 'cherry', 'BANANA']

In [236]:
# clear the list

l1

['apple', 'banana', 'cherry', 'BANANA']

In [237]:
l1.clear()
print(l1)

[]

In [238]:
l1

[]

In [239]:
# Python loop list

l1.insert(0,["apple","banana","watermelon"])
print(l1)

[['apple', 'banana', 'watermelon']]

In [240]:
l1

[['apple', 'banana', 'watermelon']]

In [241]:
del l1

In [242]:
l1 = ["apple","banana","watermelon"]
l1

['apple', 'banana', 'watermelon']

In [243]:
for i in l1:
    print(i)

apple
banana
watermelon

In [244]:
for i in range(len(l1)):
    print(l1[i])

apple
banana
watermelon

In [245]:
mylist = ["apple", "Banana","Cherry"]

for i in range(len(mylist)):
    print(mylist[i])

apple
Banana
Cherry

In [246]:
mylist

['apple', 'Banana', 'Cherry']

In [247]:
# Looping Using List Comprehension

mylist = ["apple","Banana","Cherry"]

a = [print(i) for i in mylist]

apple
Banana
Cherry

In [248]:
# Python - List Comprehension

In [249]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []

for i in fruits:
    if "a" in i:
        newlist.append(i)
print(newlist)

['apple', 'banana', 'mango']

In [250]:
# using list comprehension

newlist1 = [ x for x in fruits if "a" in x]
print(newlist1)

['apple', 'banana', 'mango']

In [251]:
# Only accept items that are not "apple":

newlist1 = [x for x in fruits if x != "apple"]
print(newlist1)

['banana', 'cherry', 'kiwi', 'mango']

In [252]:
l1

['apple', 'banana', 'watermelon']

In [253]:
list1

[1, 2, 3, 4]

In [254]:
list1 = [1,"apple",True]

In [255]:
newlist = [x for x in range(1,11)]
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [256]:
# Accept only numbers lower than 5:

newlist = [a for a in range(10) if a<5]
print(newlist)

[0, 1, 2, 3, 4]

In [257]:
l = [i for i in range(1,11) ]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [258]:
newlist

[0, 1, 2, 3, 4]

In [259]:
mylist

['apple', 'Banana', 'Cherry']

In [260]:
mylist = [x.title() for x in mylist]
print(mylist)

['Apple', 'Banana', 'Cherry']

In [261]:
# Python - Sort Lists

In [262]:
list1 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list1.sort()
print(list1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [263]:
l = [1,4,5,6,4,3,4,5,6,7,7,6,5,5,17,45,20]
l.sort()
print(l)

[1, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 17, 20, 45]

In [264]:
del l

In [265]:
l = [1,2,4,5,6,3,6,8,7,9,0,55]
l.sort(reverse=True)
print(l)

[55, 9, 8, 7, 6, 6, 5, 4, 3, 2, 1, 0]

In [266]:
l.sort(reverse=False)
print(l)

[0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 55]

In [267]:
def func(n):
    return abs(n-50)

list1=[100,50,65,82,23]
list1.sort(key=func)
print(list1)

[50, 65, 23, 82, 100]

In [268]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(reverse=False)
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [269]:
# Python - Copy Lists

In [270]:
# Use the copy() method

l1 = ["Python","ML","AI","c++"]
l2 = l1.copy()
print(l2)

['Python', 'ML', 'AI', 'c++']

In [271]:
l1

['Python', 'ML', 'AI', 'c++']

In [272]:
l2

['Python', 'ML', 'AI', 'c++']

In [273]:
# Use the list() method

thislist = ["apple","banana"]
mylist = list(thislist)
print(mylist)

['apple', 'banana']

In [274]:
thislist

['apple', 'banana']

In [275]:
mylist

['apple', 'banana']

In [276]:
# Use the slice Operator

thislist = ['a','b','c']
mylist = thislist[:]
print(mylist)

['a', 'b', 'c']

In [277]:
# Python - Join Lists

In [278]:
list1 = ['a','b','c']
list2 = [1,2,3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [279]:
# append() method using

for i in list2:
    list1.append(i)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [280]:
# Python - List Methods

In [281]:
# append() method

l1 = ["python","Ml","AI"]
l1.append("c++")
print(l1)

['python', 'Ml', 'AI', 'c++']

In [282]:
l1

['python', 'Ml', 'AI', 'c++']

In [283]:
l1 = ["a","b","c"]
l2 = ["one","two","three"]
l1.append(l2)
print(l1)

['a', 'b', 'c', ['one', 'two', 'three']]

In [284]:
# clear() method

l1

['a', 'b', 'c', ['one', 'two', 'three']]

In [285]:
l1.clear()

In [286]:
l1

[]

In [287]:
# copy() method

fruits = ['apple','banana','cherry']

newlist = fruits.copy()
print(newlist)

['apple', 'banana', 'cherry']

In [288]:
# count() method

newlist

['apple', 'banana', 'cherry']

In [289]:
x = newlist.count("apple")
print(x)

1

In [290]:
l1 = ['apple','apple','pinepale','orange','apple']
x = l1.count('apple')
print(x)

3

In [291]:
# extend() method

l1 = [1,2,3]
l2 = [4,5,6]

l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6]

In [292]:
l1

[1, 2, 3, 4, 5, 6]

In [293]:
fruits = ['apple','banana','orange']
points = [1,2,3,5,6]

fruits.extend(points)
print(fruits)

['apple', 'banana', 'orange', 1, 2, 3, 5, 6]

In [294]:
# index() method 
l1

[1, 2, 3, 4, 5, 6]

In [295]:
x = l1.index(2)
print(x)

1

In [296]:
fruits

['apple', 'banana', 'orange', 1, 2, 3, 5, 6]

In [297]:
a = fruits.index('orange')

In [298]:
a

2

In [299]:
# insert() method

l1 = ['python','ml']
l1.insert(0,"c++")
print(l1)

['c++', 'python', 'ml']

In [300]:
l1

['c++', 'python', 'ml']

In [301]:
# pop()
# remove()
# reverse()
# sort()

In [302]:
l1=['a','b','c']
l1.reverse()
print(l1)

['c', 'b', 'a']

In [303]:
l1=[1,2,3]
l1.reverse()
print(l1)

[3, 2, 1]

In [304]:
# Python Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [311]:
tup1 = ("Apple","Banana","Cherry")
print(type(tup1))

<class 'tuple'>

In [312]:
tup1

('Apple', 'Banana', 'Cherry')

In [313]:
tup2 = ('apple','banana','cherry','apple','cherry')
tup2

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [314]:
print(len(tup1))
print(len(tup2))

3
5

In [315]:
# create tuple with one item

t1 = ('python',)
print(t1)

('python',)

In [316]:
# not allowed
t2 = ('python')
print(type(t2))

<class 'str'>

In [317]:
tup1=('Apple',1,True,'banana')

In [318]:
tup1

('Apple', 1, True, 'banana')

In [319]:
# The tuple() Constructor

thistuple = tuple(('apple','banana','papaya'))
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple', 'banana', 'papaya')

In [320]:
# access  tuple items

thistuple

('apple', 'banana', 'papaya')

In [321]:
print(thistuple[1])

banana

In [322]:
print(thistuple[0:2])

('apple', 'banana')

In [323]:
print(thistuple[:-2])

('apple',)

In [324]:
thistuple

('apple', 'banana', 'papaya')

In [325]:
if "banana" in thistuple:
    print("Yes , 'apple' is in the tuple ")

Yes , 'apple' is in the tuple

In [326]:
# Convert the tuple into a list to be able to change it:

x = ("apple","banana","cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [327]:
x

('apple', 'kiwi', 'cherry')

In [328]:
t = ('apple','banana','kiwi')

In [329]:
l1= list(t)
l1.append('watermelon')
t = tuple(l1)
print(t)

('apple', 'banana', 'kiwi', 'watermelon')

In [330]:
t

('apple', 'banana', 'kiwi', 'watermelon')

In [331]:
del t

In [332]:
# Packing  a Tuple

fruits = ("apple","banana","cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [333]:
# unpaking a tuple

fruits = ("apple","banana","cherry")
(green,yellow,red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [334]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [335]:
# Python - Loop Tuples

for x in fruits:
    print(x,end=",")

apple,banana,cherry,strawberry,raspberry,

In [336]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
strawberry
raspberry

In [337]:
# Python - Join Tuples

tup1 = (1,2,3)
tup2 = ('a','b','c')

t = tup1 + tup2
print(t)

(1, 2, 3, 'a', 'b', 'c')

In [338]:
mytup = tup1 * 3
print(mytup)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [339]:
# Python - Tuple Methods

In [340]:
# Python has Two built-in method that you can used

# (1)--> count()
# (2)--> index()

In [341]:
t

(1, 2, 3, 'a', 'b', 'c')

In [342]:
x = t.count(3)
print(x)

1

In [343]:
fruits

('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

In [344]:
x = fruits.index("cherry")

In [345]:
x

2

In [346]:
t = (1,2,3)
t = t*2
print(t)

(1, 2, 3, 1, 2, 3)

# Python Sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [348]:
set1 = {"apple",1,"banana",2,1,"apple"}
print(set1)
print(type(set1))
print(set1)

{'banana', 2, 'apple', 1}
<class 'set'>
{'banana', 2, 'apple', 1}

In [349]:
set1 = {"apple","banana","cherry"}
set1

{'apple', 'banana', 'cherry'}

In [350]:
s1 = {"apple","banana","cherry",True,1,0,False}
s1

{0, True, 'apple', 'banana', 'cherry'}

In [351]:
print(len(s1))

5

In [352]:
thisset = set(("a",2,"b",2)) # using set() constructor
print(type(thisset))

<class 'set'>

In [353]:
a = list(("a","b")) # using list() constructor
print(type(a))

<class 'list'>

In [354]:
b = tuple((1,))  # using tuple() constructor
print(type(b))

<class 'tuple'>

In [355]:
# Python - Access Set Items

t

(1, 2, 3, 1, 2, 3)

In [356]:
s1

{0, True, 'apple', 'banana', 'cherry'}

In [357]:
for i in s1:
    print(i)

0
True
banana
apple
cherry

In [358]:
print("banana" in s1)

True

In [359]:
s1

{0, True, 'apple', 'banana', 'cherry'}

In [360]:
set1 = {1,2,3,4,5,"apple","watermelon"}
print("apple" in set1)

True

In [361]:
print("cherry" not in set1)

True

In [362]:
thisset = {"apple","banana","cherry"}
thisset.add("watermelon")
print(thisset)

{'banana', 'watermelon', 'apple', 'cherry'}

In [363]:
thisset

{'apple', 'banana', 'cherry', 'watermelon'}

In [364]:
set1

{1, 2, 3, 4, 5, 'apple', 'watermelon'}

In [365]:
thisset.update(set1)
print(thisset)

{1, 2, 3, 4, 5, 'banana', 'apple', 'cherry', 'watermelon'}

In [366]:
thisset

{1, 2, 3, 4, 5, 'apple', 'banana', 'cherry', 'watermelon'}

In [367]:
l1 = ['a','b']
thisset.update(l1)
print(thisset)

{1, 2, 3, 4, 5, 'banana', 'b', 'apple', 'cherry', 'watermelon', 'a'}

In [368]:
thisset.add("APPLE")
print(thisset)

{1, 2, 3, 4, 5, 'banana', 'b', 'apple', 'cherry', 'watermelon', 'APPLE', 'a'}

In [371]:
# Python - Remove Set Items

thisset = {"apple", "banana", "cherry"} # using remove()  set error through
thisset.remove("cher")
print(thisset)

KeyError: 'cher'

In [372]:
thisset = {"apple", "banana", "cherry"} #using discard() not error through
thisset.discard("appl")
print(thisset)

{'banana', 'apple', 'cherry'}

In [373]:
thisset

{'apple', 'banana', 'cherry'}

In [374]:
x = thisset.pop()
print(x)
print(thisset)

banana
{'apple', 'cherry'}

In [375]:
thisset

{'apple', 'cherry'}

In [376]:
set1

{1, 2, 3, 4, 5, 'apple', 'watermelon'}

In [377]:
print(set1.clear())

None

In [378]:
set1

set()

In [379]:
del thisset

In [380]:
# Python - Loop Sets

thisset = {"apple", "banana", "cherry"}

for x in enumerate(thisset):
      print(list(x))

[0, 'banana']
[1, 'apple']
[2, 'cherry']

#  Join Sets
    There are several ways to join two or more sets in Python.

    The union() and update() methods joins all items from both sets.

    The intersection() method keeps ONLY the duplicates.

    The difference() method keeps the items from the first set that are not in the other set(s).
    
    The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [381]:
# union()

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [382]:
# using |operator same as union()

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [383]:
# multipale sets join

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)
print(len(myset))

{1, 2, 3, 'bananas', 'b', 'apple', 'Elena', 'cherry', 'a', 'John', 'c'}
11

In [384]:
x = {1,2,3}
y = ('a','b','c')

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

In [385]:
x ={1,2,3}
y = {'a','b','c'}

z = x | y
z

{1, 2, 3, 'a', 'b', 'c'}

In [386]:
set1 = {"a", "b" , "c","a"}
set2 = {1, 2, 3,2}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

# sine of join set

    union() = |
    intersection() = &
    difference() = -
    symmetric_difference() = ^

In [387]:
# union() = |

set1 = {'a','b','c'}
set2 = {1,2,3}

# set3 = set1.union(set2) or
set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [388]:
# intersection() = &

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# set3 = set1.intersection(set2) or
set3 = set1 & set2
print(set3)

{'apple'}

In [88]:
# intersection() 

s1 = {"A","B","C"}
s2 = {"D","A","F"}

s3 = s1 & s2
print(s3)

{'A'}

In [389]:
# intersection_update() 

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [390]:
# difference() = -

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# set3 = set1.difference(set2) or
set3 = set1 - set2

print(set3)

{'banana', 'cherry'}

In [391]:
# difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [392]:
# symmetric_difference() = ^


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

# set3 = set1.symmetric_difference(set2) or
set3 = set1 ^ set2

print(set3)

{'microsoft', 'google', 'banana', 'cherry'}

In [393]:
# symmetric_difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'google', 'banana', 'cherry'}

# Python - Set Methods

# add()	 	Adds an element to the set
# clear()	 	Removes all the elements from the set
# copy()	 	Returns a copy of the set
# difference()	-	Returns a set containing the difference between two or more sets
# difference_update()	-=	Removes the items in this set that are also included in another, specified set
# discard()	 	Remove the specified item
# intersection()	&	Returns a set, that is the intersection of two other sets
# intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
# isdisjoint()	 	Returns whether two sets have a intersection or not
# issubset()	<=	Returns whether another set contains this set or not
#  	<	Returns whether all items in this set is present in other, specified set(s)
# issuperset()	>=	Returns whether this set contains another set or not
#  	>	Returns whether all items in other, specified set(s) is present in this set
# pop()	 	Removes an element from the set
# remove()	 	Removes the specified element
# symmetric_difference()	^	Returns a set with the symmetric differences of two sets
# symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
# union()	|	Return a set containing the union of sets
# update()	|=	Update the set with the union of this set and others


# Python Dictionaries

In [394]:
mydict = {
    "brand":"Ford",
    "model":"Mustang",
    "year":"1964"
}

print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}

In [395]:
print(mydict['model'])

Mustang

In [396]:
print(mydict["year"])

1964

In [397]:
d = {
    "brand": "ford",
    "model":"BMW",
    "model": "Mustang",
    "year": 1964,
    "year": 1998
}
print(d)  # Duplicate not allowed

{'brand': 'ford', 'model': 'Mustang', 'year': 1998}

In [398]:
print(len(d))

3

In [399]:
d1 = {
    "brand":"Ford",
    "electric":False,
    "year":1998,
    "colors":["red","green","yellow"]
    
}
print(d1)

{'brand': 'Ford', 'electric': False, 'year': 1998, 'colors': ['red', 'green', 'yellow']}

In [400]:
# using dict() constructor

d3 = dict(name='ram',age=27,country="IND")
print(d3)
print(type(d3))
print(len(d1))

{'name': 'ram', 'age': 27, 'country': 'IND'}
<class 'dict'>
4

In [401]:
# Python - Access Dictionary Items

d1

{'brand': 'Ford',
 'electric': False,
 'year': 1998,
 'colors': ['red', 'green', 'yellow']}

In [402]:
x = d1["colors"]
x

['red', 'green', 'yellow']

In [403]:
x = d1.get("electric")
x

False

In [404]:
a = d1.keys()
print(a)

dict_keys(['brand', 'electric', 'year', 'colors'])

In [405]:
a =d1.values()
print(a)

dict_values(['Ford', False, 1998, ['red', 'green', 'yellow']])

In [406]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:


car =dict(brand="Mustang",model="Ford",year=1964,color=['red','blue'])

x = car.keys()
print(x)

car["electric"]=False
print(car.keys())
print(car)

dict_keys(['brand', 'model', 'year', 'color'])
dict_keys(['brand', 'model', 'year', 'color', 'electric'])
{'brand': 'Mustang', 'model': 'Ford', 'year': 1964, 'color': ['red', 'blue'], 'electric': False}

In [407]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 1964,
 'color': ['red', 'blue'],
 'electric': False}

In [408]:
x = car.values()
print(x)

dict_values(['Mustang', 'Ford', 1964, ['red', 'blue'], False])

In [409]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 1964,
 'color': ['red', 'blue'],
 'electric': False}

In [410]:
car["year"] = 2020
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False}

In [411]:
# items()  method


x = car.items()
x

dict_items([('brand', 'Mustang'), ('model', 'Ford'), ('year', 2020), ('color', ['red', 'blue']), ('electric', False)])

In [412]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False}

In [413]:
type(car)

dict

In [414]:
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False}

In [415]:
car["day"] = "monday"
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False,
 'day': 'monday'}

In [416]:
car["day"] = "sunday"
car

{'brand': 'Mustang',
 'model': 'Ford',
 'year': 2020,
 'color': ['red', 'blue'],
 'electric': False,
 'day': 'sunday'}

In [417]:
car.items()

dict_items([('brand', 'Mustang'), ('model', 'Ford'), ('year', 2020), ('color', ['red', 'blue']), ('electric', False), ('day', 'sunday')])

In [418]:
car.keys()

dict_keys(['brand', 'model', 'year', 'color', 'electric', 'day'])

In [419]:
car.values()

dict_values(['Mustang', 'Ford', 2020, ['red', 'blue'], False, 'sunday'])

In [420]:
x=car.get('color')
x

['red', 'blue']

In [421]:
# example

x = {
    "type":"fruits",
    "name":"banana",
    
}
print(x['type'])

fruits

In [422]:
# Python - Change Dictionary Items

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [423]:
# update()

d = {
    "one":1,
    "two":2,
    "three":3,
}
d.update({"two":20})

In [424]:
d

{'one': 1, 'two': 20, 'three': 3}

In [425]:
d.update({"five":5})
d

{'one': 1, 'two': 20, 'three': 3, 'five': 5}

In [426]:
d.update({"two":2})
d

{'one': 1, 'two': 2, 'three': 3, 'five': 5}

In [427]:
d

{'one': 1, 'two': 2, 'three': 3, 'five': 5}

In [428]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.update({"electric":True,"day":"monday"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'electric': True, 'day': 'monday'}

In [429]:
# Removing Items in dict()
# pop() method
thisdict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'electric': True,
 'day': 'monday'}

In [430]:
thisdict.pop("day")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'electric': True}

In [431]:
# popitem() method


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "day":"sunday"
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [432]:
del thisdict["model"]
thisdict

{'brand': 'Ford', 'year': 1964}

In [433]:
thisdict.items()

dict_items([('brand', 'Ford'), ('year', 1964)])

In [434]:
d = {
    "one":1,
    "two":2,
}
del d
# print(d)

In [435]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [436]:
thisdict

{}

In [437]:
thisdict.update({"one":1,"two":2})
print(thisdict)

{'one': 1, 'two': 2}

In [438]:
thisdict

{'one': 1, 'two': 2}

In [439]:
del thisdict

In [440]:
# Python - Loop Dictionaries

d = dict(one=1,two=2)
d

{'one': 1, 'two': 2}

In [441]:
for x , y in d.items():
    print(x,y)

one 1
two 2

In [442]:
d.items()

dict_items([('one', 1), ('two', 2)])

In [443]:
# Python - Copy Dictionaries

thisdict = {
        "brand":"Ford",
        "model":"Mustang",
        "year":1964
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [444]:
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [445]:
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [446]:
d = dict(brand='ford',model='BMW',electric=False)
print(d)

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [447]:
d1 = dict(d)
d1

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [448]:
d

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [449]:
d1

{'brand': 'ford', 'model': 'BMW', 'electric': False}

In [450]:
# Python - Nested Dictionaries

myfamily = {
    "child1":{
        "name":"ram",
        "year":2003
    },
    "child2":{
        "mame":"raj",
        "year":2004
    },
    "child3":{
        "name":"jay",
        "year":2005
    }
}
print(myfamily)

{'child1': {'name': 'ram', 'year': 2003}, 'child2': {'mame': 'raj', 'year': 2004}, 'child3': {'name': 'jay', 'year': 2005}}

In [451]:
# Create three dictionaries, then create one dictionary,
#     that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

MyFamily = {
    "child1":child1,
    "child2":child2,
    "child3":child3
}

print(MyFamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [452]:
# Access Items in Nested Dictionaries

print(MyFamily['child2']['year'])

2007

In [453]:
print(myfamily['child3']['name'])

jay

In [454]:
# loop through nested dictionaries using items() method

for a,b in MyFamily.items():
    print(a,b)
    
#     for y in b:
#         print(y + ':',b[y])

child1 {'name': 'Emil', 'year': 2004}
child2 {'name': 'Tobias', 'year': 2007}
child3 {'name': 'Linus', 'year': 2011}

# Python Dictionary Methods

In [455]:
# clear() method

d4 = {
    'one':1,
    'two':2,
    'three':3
}

print(d4) # after dict

d4.clear() 
print(d4) # before dict

{'one': 1, 'two': 2, 'three': 3}
{}

In [456]:
# copy() method

di1 = dict(name='ram',year=1998)
# print(di1)

di2= di1.copy()
print(di2)

{'name': 'ram', 'year': 1998}

In [457]:
# fromkeyes() method

x = ('key1','key2','key3')
y = 5

thisdict = dict.fromkeys(x,y)
print(thisdict)

{'key1': 5, 'key2': 5, 'key3': 5}

In [458]:
a = ('k1','k2','k3')

dd = dict.fromkeys(a)
print(dd)

{'k1': None, 'k2': None, 'k3': None}

In [459]:
# get() method

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")
# x
#  or
# x = car['model']
x

'Mustang'

In [460]:
# items() method

a = car.items()
a

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [461]:
# keys() method

p = car.keys()
p

dict_keys(['brand', 'model', 'year'])

In [462]:
# pop() method

car = {
    "brand":"ford",
    "model":"BMW",
    "year":1964
}

car.pop("model")
print(car)

{'brand': 'ford', 'year': 1964}

In [463]:
car

{'brand': 'ford', 'year': 1964}

In [464]:
# popitem() method

car

{'brand': 'ford', 'year': 1964}

In [465]:
car.popitem()  # remove the last item
car

{'brand': 'ford'}

In [466]:
# setdefault() Method

car = dict(brand='ford',model='BMW',year=1964)
car

{'brand': 'ford', 'model': 'BMW', 'year': 1964}

In [467]:
x = car.setdefault("model","Mustang")
print(x)

BMW

In [468]:
car

{'brand': 'ford', 'model': 'BMW', 'year': 1964}

In [469]:
# update() method

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({'color':'black','electric':False})
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'black',
 'electric': False}

In [470]:
# values() method

x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, 'black', False])

In [471]:
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'black',
 'electric': False}

In [472]:
car['color'] = 'white'
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, 'white', False])

In [473]:
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'white',
 'electric': False}

# Python If ... Else

In [474]:
a = 30
b = 200

if b>a:
    print('yes, this is greater of a')

yes, this is greater of a

In [475]:
# The elif keyword is Python's way of saying 
#          "if the previous conditions were not true, then try this condition".

a = 20
b = 30

if b<a:
    print("b is greater than a")
    
elif a <  b:
    print("b is big")

b is big

In [476]:
# else

a = 200
b = 200

if b>a:
    print("b is greater than a")
    
elif a==b:
    print("a and b are equal")
    
else:
    print("a is greater than b")

a and b are equal

In [477]:
# You can also have an else without the elif:

a = 10
b = 20

if a>b:
    print("a is greater b")
else:
    print("b is greater of a")

b is greater of a

In [478]:
# one line if statement
a = 20
b =10
if a>b : print("a is greater than b")

a is greater than b

In [479]:
#  one line if , else statement

a = 100
b = 10

print("a") if a<b  else print("b")

b

In [480]:
a = 10
b = 50

print("a is less than b")if b<a else print("b is big")

b is big

In [481]:
# One line if else statement, with 3 conditions:

a = 10
b = 10

print("condition is ture")if a==b else print("=") if a>b else print("B")

condition is ture

In [482]:
#  using the and Keyword

a = 10
b = 5
c = 50

if a>b and b>a:
    print("the condition are true")
else:
    print("false condition")

false condition

In [483]:
#  using or keyword

a = 10
b = 20 
c = 15

if a<b or a==b or c==b:
    print("any one condition is true")
else:
    print("than you")

any one condition is true

In [484]:
# using  not keyword

a = 10
b = 20
c = 30

if not a>c:
    print('c is greater of a')
else:
    print("condition is ture")

c is greater of a

In [485]:
#  using the Nested if

x = 40

if x>10:
    print("Above ten,")
    
    if x<20:
        print("Above 20")
        
    else:
        print("but not above 20")

Above ten,
but not above 20

In [486]:
#  using pass  #code complication

a = 33
b = 200

if b > a :
    pass

# Python While loop

With the while loop we can execute a set of statements as long as a condition is true.

In [487]:
i = 0 # start point

while i < 6:  # condition
    
    print(i)
    
    i += 1  # increment the value or decriment value

0
1
2
3
4
5

In [488]:
# The break Statement 

i = 1

while i<6:
    print(i)
    
    if i == 3:
        break
    
    i +=1

1
2
3

In [489]:
# the continue statement

i = 0

while i<10:
    i += 1
    
    if i==5:
        continue
        
    print(i)

1
2
3
4
6
7
8
9
10

In [491]:
# The else Statement

i = 1
while i < 6:
    print(i)
    
    i += 1
else:
      print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For LOOP

In [492]:
fruits = ["Apple","Banana","Cherry"]

for i in fruits:
    print(i)

Apple
Banana
Cherry

In [493]:
for i in "Cherry":
    print(i)

C
h
e
r
r
y

In [494]:
# the break statement

fruits = ["Apple","Banana","Watermelon"]

for i in fruits:
    print(i)
    
    if i=="Banana":
        break

Apple
Banana

In [510]:
for i in fruits:

    
    if i=="Banana":
        continue
    print(i)

Apple
Watermelon

In [508]:
# x =fruits[::-1]
# x

In [518]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [519]:
# The range() Function


for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [520]:
for x in range(2,6):
    print(x)

2
3
4
5

In [523]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [526]:
for x in range(6):
    print(x)
    
#     if x==2:
#         break
    
else:
    print("Finally Finished!!")

0
1
2
3
4
5
Finally Finished!!

In [527]:
# Python Nested loop

adj = ["red","big","testy"]
fruits = ["apple","banana","cherry"]

for i in adj:
    for j in fruits:
        print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
testy apple
testy banana
testy cherry

In [22]:
# pass statement

for x in [1,2,3]: 
    pass  # code complication

# Python Function

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [26]:
# creating a function

def my_function():
    print("Hello World")
    
my_function()
my_function()

Hello World
Hello World

In [28]:
# function with argument

def my_function(fname):
    
    print(fname + " Language")
    
my_function("Python")
my_function("c++")
my_function("c")

Python Language
c++ Language
c Language

In [34]:
# This function expects 2 arguments, and gets 2 arguments:

def function(fname,lname):
    
    print(fname + " " + lname)
    
function("Python","Devloper")
function("java","Devloper")

Python Devloper
java Devloper

# Arbitrary Arguments, *args

# If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

# This way the function will receive a tuple of arguments, and can access the items accordingly:

In [41]:
def func(*kids):
    print("The youngest child is " + kids[2])
    
func("Email","Tobis","Linus")

The youngest child is Linus

In [43]:
# Keyword Arguments

def func(child3,child2,child1):
    print("the youngest child is :" + child1)
    
func(child1="email",child2="Tobis",child3="Linus")

the youngest child is :email

# Arbitrary Keyword Arguments, **kwargs

# If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

# This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [44]:
def func(**a):
    print("His last name is " +a["lname"])
    
func(fname="ram",lname="jay")

His last name is jay

In [48]:
# Default Parameter Value

def function(country="IND"):
    
    print("I am From " + country)
    
function("USA")
function("caneda")
function()

I am From USA
I am From caneda
I am From IND

In [49]:
# Passing a List as an Argument

def my_func(l1):
    
    for i in l1:
        print(i)
        
l1 = ["apple","banana","cherry"]

my_func(l1)

apple
banana
cherry

# Return Values
# To let a function return a value, use the return statement:

In [52]:
def multiplication(x):
    
    return 5*x

print(multiplication(2))
print(multiplication(5))

10
25

In [63]:
# Positional-Only Arguments

def my_func(x,/):
    print(x)
    
my_func("hello")
my_func(50)
my_func(1+4)
my_func(True)

hello
50
5
True

In [67]:
# using user define function find the string length

def a_func(string):
    return len(string)

print("Length of string is :",a_func("Python"))
print("Length of string is :",a_func("Hello World"))
print("Length of this sting is:",a_func("Welcome to Python"))

Length of string is : 6
Length of string is : 11
Length of this sting is: 17

In [68]:
# square of the List creating function

def square(item_list):
    squares=[]
    
    for i in item_list:
        squares.append(i**2)
        
    return squares

my_list=[2,4,6]
my_result=square(my_list)

print("square of the list :",my_result)

square of the list : [4, 16, 36]

In [75]:
def add_two_number(a,b):
    return a*b
c = add_two_number(5,6)
print(c)

30

In [76]:
def square(num):
    return num**2

print("with return statement")
print(square(12))

with return statement
144

In [78]:
def square(num):
    
    num**2

print("Without return statement")
print(square(12))

Withuot return statement
None

# The Anonymous Functions

In [79]:
x = lambda a : a + 10
print(x(10))

20

In [81]:
print(type(x))

<class 'function'>

In [82]:
x = lambda a,b : a *b
print(x(5,6))

30

In [83]:
x = lambda a,b,c,d : a+b+c+d
print(x(2,3,4,5))

14

# Python file Handling

# File Handling

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

# In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

In [3]:
f = open("Demo.txt","w")
data = f.write("Hello World\n Python with ML code")
print(data)
f.close()

32

In [4]:
f = open("Demo.txt","r") # read the data from Demo.txt file
print(f.read())

Hello World
 Python with ML code

In [5]:
# Return the 5 first characters of the file:

f = open("Demo.txt","r")
print(f.read(5))

Hello

# Read Lines

In [8]:
f = open("Demo.txt","r")
# data = f.readline()
data = f.readline()
print(data)

Hello World

# Write to an Existing File

In [15]:
f = open("Demo.txt","a")
f.write(" \n  Now the file has more content!")
f.close()

In [16]:
f=open("Demo.txt","r")
print(f.read())
f.close()

Hello World
 Python with ML codeNow the file has more content! Now the file has more content!
Now the file has more content!
  Now the file has more content!

# Create a New File

To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exists

"a" - Append - will create a file if the specified file does not exists

"w" - Write - will create a file if the specified file does not exists

In [18]:
# Create a file called "myfile.txt":

f = open("myfile.txt","x")
print(f)

FileExistsError: [Errno 17] File exists: 'myfile.txt'

In [23]:
# Create a new file if it does not exist:

f = open("myfile.txt","w")
data = f.write("File Handling in Python")
print(data)
f.close()

23

In [24]:
f = open("myfile.txt","w")
data=f.write("Hello World!")
print(data)
f.close()

12

In [25]:
f = open("myfile.txt","r")
data=f.read()
print(data)

Hello World!