In [1]:
import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

# Python comments

In [3]:
# add tha two number
print(5+22)
# this is comments
print('hello')

27
hello

In [4]:
# print("hello Python")
print("hii .. Python!")

hii .. Python!

In [5]:
# Multiline comments in Python

# this is comments
# hello 
# more line
print('Python')

Python

In [6]:
''' hello 
How are you
    welcome
'''      #this is comments 
print('hii..')

hii..

# Python Variables

 Variables are containers for storing data values.

In [17]:
x = 5  #int
y = 'Python' #str

print(x)
print(y)

5
Python

# Python Casting

In [19]:
x = str(5)
print(x)
y = int(5)
print(y)
z = float(5)
print(z)

5
5
5.0

In [21]:
# Using type() function

x = 10
print(type(x))

y = "Python"
print(type(y))

a = True
print(type(a))

b = 3.14
print(type(b))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [24]:
# x = "Python"
x = 'Python'
print(x)

Python

#  Python is Case Sensitive

In [25]:
a = 5
A = "Python"
print(a)
print(A)

5
Python

In [28]:
# var = 'Python'
# my_var='Python'
_='Python' 
print(_)

Python

In [30]:
# Python multiple  variables  

a,b,c = "Python",50,"AI"
print(a)
print(b)
print(c)

Python
50
AI

In [35]:
x = y = z = "Python"
print(id(x))
print(id(y))
print(id(z))

2541685393200
2541685393200
2541685393200

# Python in Unpack a Collection

In [36]:
l1 = ["Python","ML","AI"]
x,y,z=l1
print(x)
print(y)
print(z)

Python
ML
AI

# Python - Global Variables

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [62]:
x = "Python"

def myfunc():
    print("Best language is " + x)
    
myfunc()
print(x)

Best language is Python
Python

In [40]:
x = "awesome"

def myfunc():
    x = "Fantastic"
    
    print("Python is " + x)
    
myfunc()

print("Python is " + x)

Python is Fantastic
Python is awesome

# The global Keyword in Python

In [41]:
def myfunc():
    global x
    x = "Fantastic"
    
myfunc()

print("Python is " + x)

Python is Fantastic

In [42]:
# Accessing global Variable From Inside a Function

# global variable

a = 10
b = 15

# function to perform add

def add():
    c = a+b
    print(c)
    
add()

25

In [44]:
# Modifying Global Variable From Inside the Function

a = 15

# funtion to change a global value

def change():
    b = a + 5
    a=b
    print(b)
    
change()

UnboundLocalError: local variable 'a' referenced before assignment

In [61]:
#  Changing Global Variable From Inside a Function using global

x = 15


def change():
# using a global keyword
    global x

    # increment value of a by 5
    x = x + 5
    print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

In [65]:
# exercise global keyword

x = "awesome"

def myfunc():
    x = "fantastic"
myfunc()
print("Python is " + x)

Python is awesome

In [66]:
# exercise

x = "awesome"

def myfunc():
    global x 
    
    x = "Fantastic"
myfunc()
print("Python is  " + x)

Python is  Fantastic

# Python Data-Types

# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [69]:
x = "Hello world"
print(type(x))

x = 20
print(type(x))

x = 3.14
print(type(x))

x = True
print(type(x))

x = (1+2j)
print(type(x))

x = [1,'Python',False]
print(type(x))

x= (1,'Python')
print(type(x))

x = {1:'one',
    2:'two'}
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [70]:
x = frozenset({"apple","Banana"})
print(type(x))

<class 'frozenset'>

In [74]:
x = b"Hello"
print(type(x))
x = b'1'
print(type(x))

<class 'bytes'>
<class 'bytes'>

In [76]:
x = bytearray(50)
print(type(x))

<class 'bytearray'>

In [78]:
x = memoryview(bytes(5))
print(type(x))
print(x)

<class 'memoryview'>
<memory at 0x0000024FCF6E7C40>

In [80]:
a = str("Python")
print(type(a))

<class 'str'>

In [82]:
a = complex(1j)
print(type(a))

<class 'complex'>

#  Python Type Conversion

In [83]:
# You cannot convert complex numbers into another number type.

x = 1     #int
y = 3.14  #float
z = 1j    #complex

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
3
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [90]:
# Python Random Module

import random
print(random.randrange(1,11))
print(random.randint(1,10))

9
7

# Python Random Module

In [91]:
import random

In [100]:
random.seed(10)
print(random.random())

0.5714025946899135

In [102]:
import random

random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [103]:
import random

print(random.random())

0.4288890546751146

# Python Strings

In [105]:
print("Python")
print('Python')

Python
Python

In [109]:
# Quotes Inside Quotes

print("it's alright")
print("he is called 'Jonny'")
print('He is called "P"')

it's alright
he is called 'Jonny'
He is called "P"

In [113]:
a = "Hello World!"
print(a[2])
print(a[-1])
# print(a[5])

l
!

In [115]:
for x in "Apple":
    print(x,end="")

Apple

In [116]:
# how to find string Length

a = "Hello Everyone"
print(len(a))

14

In [118]:
txt = "The best things in life are free"
print("life" in txt)

True

In [119]:
"are" in txt

True

In [122]:
txt = "The best things in life are free"

if "bet" in txt:
    print("yes, 'best' in presents")
else:
    print("not presents in txt")

not presents in txt

In [123]:
txt = "The best things in life are free"  # NOT IN 

print("all" not in txt)

True

In [124]:
# Exercise
x = "Welcome"

print(x[3])

c

# Python - Slicing Strings

In [131]:
a = "Hello, World!"
# print(a[2:5])   
print(a[:5])  # slice from the start

Hello

In [135]:
b = "Hello, World!"
print(b[6:])      # slice th the END

 World!

In [136]:
# nagative indexing
b

'Hello, World!'

In [143]:
print(b[-1])

!

In [144]:
print(b[-5:-2])

orl

In [146]:
print(b[-11:-3])

llo, Wor

In [149]:
# Python - Modify Strings

a = "Hello, World!"
# a.upper()
a.lower()

'hello, world!'

In [152]:
a = " Hello , World  "

print(a.strip())
print(a.rstrip())
print(a.lstrip())

Hello , World
 Hello , World
Hello , World

In [153]:
# Replace String
print(a)

 Hello , World

In [163]:
x = "Pratap , Makwana"

print(x.replace("a","@"))

Pr@t@p , M@kw@n@

In [164]:
print(x.replace("t","T"))

PraTap , Makwana

In [166]:
print(x.replace(",","bhai"))

Pratap bhai Makwana

In [167]:
x = "Python ,@  and AI!"
print(x.split())

['Python', ',@', 'and', 'AI!']

In [168]:
x = "P y th o n"
x.split()

['P', 'y', 'th', 'o', 'n']

In [170]:
x.splitlines()

['P y th o n']

In [171]:
a

' Hello , World  '

In [172]:
a.splitlines()

[' Hello , World  ']

In [173]:
x

'P y th o n'

In [185]:
x= "Pyt!ho!n,ML!"
print(x.split("!"))

['Pyt', 'ho', 'n,ML', '']

# Python - String Concatenation

In [190]:
a = "Hello "
b = "World"
x = a+b
print(x)

Hello World

In [194]:
a = "Hello"
b = "World"

c = a + "  " +b
print(c)

Hello  World

# F-Strings

In [198]:
name = "Jay"
age = 27
txt = f"My name is {name}, I am {age} year old!"
print(txt)

My name is Jay, I am 27 year old!

In [199]:
price = 60

txt = f"The price is {price} dollers($)"
print(txt)

The price is 60 dollers($)

In [206]:
price = 60
txt = f"The price is {price:.2f} dollers($)"
print(txt)

The price is 60.00 dollers($)

In [207]:
txt = f"The price is {20*10} dollers"
print(txt)

The price is 200 dollers

# Python - Escape Characters

In [210]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [212]:
txt = "Hello Everyone , How \"are\" you ." #using backslash \
print(txt)

Hello Everyone , How "are" you .

In [213]:
# single quote

txt = 'It\'s alright.'
print(txt)

It's alright.

In [214]:
# Backslash

txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [215]:
# new line

txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [217]:
txt = "Hello\nEveryone!"
print(txt)

Hello
Everyone!

In [218]:
# Carriage Return

txt = "Hello\rWorld!"
print(txt)

World!

In [221]:
x = "welcome to\n \rour office!"
print(x)

welcome to
our office!

In [222]:
# Tab

x = "Hello\tWorld"
print(x)

Hello	World

In [228]:
# Backspace

txt = "Hello  \bWorld!"
print(txt)

Hello  World!

In [232]:
# Form Feed
txt = "Hello\f world"
print(txt)

Hello world

In [233]:
# octal value

txt = "\110\145\154\154\157"
print(txt)

Hello

# Python - String Methods

In [306]:
txt = "Hello , World!"
# print(txt.capitalize())
# print(txt.casefold())
# print(txt.center(1))
# print(txt.count('o'))
# print(txt.encode())
# print(txt.endswith('d!'))
# print(txt.expandtabs())
# print(txt.find('r'))
# print(txt.format())
# print(txt.format_map(','))
# print(txt.index('o'))
# print(txt.isalnum())
# print(txt.isalpha())
# print(txt.isascii())
# print(txt.isdecimal())
# print(txt.isdigit())
# print(txt.isidentifier())
# print(txt.islower())
# print(txt.isnumeric())
# print(txt.isprintable())
# print(id(txt))
# print(txt.isspace())
# print(txt.istitle())
# print(txt.isupper())

In [307]:
txt

'Hello , World!'

In [308]:
txt.startswith("H")

True

In [312]:
txt.split('l')

['He', '', 'o , Wor', 'd!']

In [310]:
txt.splitlines()

['Hello , World!']

In [313]:
txt

'Hello , World!'

In [314]:
txt.swapcase()

'hELLO , wORLD!'

In [317]:
txt.translate('H')

'Hello , World!'

In [318]:
a = "Python"
a.translate('y')

'Python'

# Python Booleans

In [322]:
print(10>0)
print(1<-8)
print(0==1)

True
False
False

In [325]:
a = 200
b= 33

if b<a:
    print("b  is greter of a")
    
else:
    print("b is not grater than a")

b  is greter of a

In [326]:
print(bool("Hello"))

True

In [330]:
print(bool(0))

False

In [331]:
print(bool(17))

True

In [332]:
print(bool(1))

True

In [333]:
print(bool(''))

False

In [334]:
x="Hello"
y = 18

print(bool(x))
print(bool(y))

True
True

In [335]:
bool("abc")

True

In [336]:
bool(123)

True

In [337]:
bool(["apple","banana","cgerry"])

True

In [338]:
bool({1:"one",2:"two"})

True

In [339]:
bool(1,)

True

In [340]:
class MyClass():
    def __len__(self):
        return 0
    
obj = MyClass()
print(bool(obj))

False

In [341]:
def MyFunction():
    return True
print(MyFunction())

True

In [344]:
def MyFunction():
    return 1
if MyFunction():
    print("Yes!")
    
else:
    print("NOO!")

Yes!

In [350]:
a = 200

print(isinstance(a,int))

True

In [352]:
x = 'Python'

print(isinstance(x,str))

True

# Python Operators

Operators are used to perform operations on variables and values.

#### Python divides the operators in the following groups:

### Arithmetic operators
### Assignment operators
### Comparison operators
### Logical operators
### Identity operators
### Membership operators
### Bitwise operators

In [356]:
# Python Arithmetic Operators

a = 50
b = 10

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

60
40
500
5.0
0
5
97656250000000000

In [365]:
# Python Assignment Operators
# Assignment operators are used to assign values to variables:

a = 10
# a +=50
# a = a + 50
# a *=2
# a /=2
# a //= 2
a **=2
print(a)

100

In [379]:
x = 10

# x &= 9
# x |=2
# x >>= 3

print(x:=2)

2

In [383]:
# Python Comparison Operators

x = 10
y = 20

print(x==y)
print(x<=y)
print(x>=y)
print(x<y)
print(x>y)
print(x != y)

False
True
False
True
False
True

In [385]:
# Python Logical Operators


x = 10

print(x>5 and x<5)
print(x<15 and x>2)

False
True

In [386]:
x = 10

print(x>5 or x<5)
print(x>2 or x<20)
print(x<0 or x>20)

True
True
False

In [390]:
x = 10

print(not(x<15 and x>5))
print(not(x<15 or x>20))

False
False

In [395]:
# Python Identity Operators

x = 10
y = 1

print(x is y)
print(x is not y)

False
True

In [405]:
# Python Membership Operators

x = ["apple","cherry","Banana"]
print("cherry" in x)

print("apple" not in x)

True
False

In [406]:
print((6 + 3) - (6 + 3))

0

In [407]:
print(100 + 5 * 3)

115

In [408]:
print(5 + 4 - 7 + 3)

5

# Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [409]:
list1 = ["Apple","Banana","Cherry"]
print(list1)

['Apple', 'Banana', 'Cherry']

In [410]:
print(type(list1))

<class 'list'>

In [411]:
l1 = ["apple","banana","apple","Cherry","Banana"]
print(l1)

['apple', 'banana', 'apple', 'Cherry', 'Banana']

In [413]:
print(len(l1))

5

In [414]:
l1 = ["apple","Banana","Cherry"]
l2 = [1,2,3,4,5]
l3 = [True,True,False]
print(type(l1))
print(type(l2))
print(type(l3))

<class 'list'>
<class 'list'>
<class 'list'>

In [415]:
l1

['apple', 'Banana', 'Cherry']

In [416]:
del l1

In [418]:
l1 = [1,True,"Python",27]
print(l1)

[1, True, 'Python', 27]

In [421]:
l2 = list(("apple",10,True))
print(type(l2))
print(l2)

<class 'list'>
['apple', 10, True]

In [422]:
# Python - Access List Items

l1

[1, True, 'Python', 27]

In [423]:
print(l1[2])

Python

In [424]:
print(l1[-1])

27

In [425]:
print(l1[::-1])

[27, 'Python', True, 1]

In [431]:
print(l1[2:4])

['Python', 27]

In [440]:
print(l1[-2:-1])

['Python']

In [441]:
l1

[1, True, 'Python', 27]

In [442]:
print(l1[-4:])

[1, True, 'Python', 27]

In [443]:
s = "Python"
print(s[::-1])

nohtyP

In [445]:
s[-4:]

'thon'

In [446]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [448]:
print(thislist[-6:-3])

['banana', 'cherry', 'orange']

In [450]:
print(thislist[:-2])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [451]:
# Python change list items
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [455]:
thislist[1]= "Banana"
print(thislist)

['apple', 'Banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [456]:
thislist

['apple', 'Banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [458]:
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [459]:
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [460]:
thislist1 = ["apple", "banana", "cherry"]
thislist1[1:2] = ["blackcurrant", "watermelon"]
print(thislist1)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [462]:
l1 = ["apple","Banana","watermelon"]
l1[1:3] = ["cherry"]
print(l1)

['apple', 'cherry']

In [463]:
l1

['apple', 'cherry']

In [464]:
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [465]:
l1

['apple', 'cherry']

In [467]:
l1.insert(1,"watermelon")
l1

['apple', 'watermelon', 'cherry', 'watermelon']

In [468]:
l1.pop()

'watermelon'

In [469]:
l1

['apple', 'watermelon', 'cherry']

In [471]:
# example

mylist = ["apple","banana","cherry"]
mylist[1:2] = ["kiwi","mango"]
print(mylist[2])

# apple kiwi mango banana cherry

mango

In [477]:
# Python - Add List Items
mylist

['apple', 'kiwi', 'mango', 'cherry', 'watermelon', 'MANGO']

In [480]:
mylist.append("MANGO")
print(mylist)

['apple', 'kiwi', 'mango', 'cherry', 'watermelon', 'MANGO', 'MANGO', 'MANGO', 'MANGO']

In [481]:
del mylist

In [482]:
mylist = ["apple","Banana"]
mylist

['apple', 'Banana']

In [483]:
mylist.append("watermelon")
print(mylist)

['apple', 'Banana', 'watermelon']

In [484]:
# insert method

mylist

['apple', 'Banana', 'watermelon']

In [485]:
print(mylist.insert(1,"APPLE"))

None

In [486]:
mylist

['apple', 'APPLE', 'Banana', 'watermelon']

In [487]:
# Extend List

l1 = ['apple','banana','cherry']
l2 = ['APPLE','BANANA','CHERRY']
l1.extend(l2)
print(l1)

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [488]:
l3 = l1 + l2
print(l3)

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY', 'APPLE', 'BANANA', 'CHERRY']

In [489]:
del l3

In [490]:
l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [491]:
l2

['APPLE', 'BANANA', 'CHERRY']

In [492]:
tup1 = ("orange","kiwi")

l2.extend(tup1)
print(l2)

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [493]:
l2

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [494]:
# Python - Remove List Items
l2

['APPLE', 'BANANA', 'CHERRY', 'orange', 'kiwi']

In [495]:
l2.remove("CHERRY")
print(l2)

['APPLE', 'BANANA', 'orange', 'kiwi']

In [496]:
l2

['APPLE', 'BANANA', 'orange', 'kiwi']

In [498]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi']

In [500]:
l2.reverse()
print(l2)

['APPLE', 'BANANA', 'orange', 'kiwi']

In [501]:
a = [1,2,3,4]
print(a)

[1, 2, 3, 4]

In [505]:
a.reverse()

In [506]:
print(a)

[1, 2, 3, 4]

In [508]:
a

[1, 2, 3, 4]

In [515]:
a
print(type(a))

<class 'list'>

In [516]:
a.reverse()
print(a)

[4, 3, 2, 1]

In [517]:
a

[4, 3, 2, 1]

In [518]:
# reversing a for loop using

list1 = [1,2,3,4]

rev = []

for i in list1:
    rev.insert(0,i)
print(rev)

[4, 3, 2, 1]

In [521]:
# Using List Comprehension

a = [1, 2, 3, 4, 5]

# Use list comprehension to create
# a reversed version of the list
rev = [a[i] for i in range(len(a) - 1, -1, -1)]
print(rev)

[5, 4, 3, 2, 1]

In [522]:
# pop() method

l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA', 'CHERRY']

In [523]:
l1.pop()

'CHERRY'

In [524]:
l1

['apple', 'banana', 'cherry', 'APPLE', 'BANANA']

In [526]:
l1.pop(3)

'APPLE'

In [527]:
l1

['apple', 'banana', 'cherry', 'BANANA']

In [528]:
# clear the list

l1

['apple', 'banana', 'cherry', 'BANANA']

In [529]:
l1.clear()
print(l1)

[]

In [530]:
l1

[]

In [532]:
# Python loop list

l1.insert(0,["apple","banana","watermelon"])
print(l1)

[['apple', 'banana', 'watermelon']]

In [533]:
l1

[['apple', 'banana', 'watermelon']]

In [534]:
del l1

In [536]:
l1 = ["apple","banana","watermelon"]
l1

['apple', 'banana', 'watermelon']

In [537]:
for i in l1:
    print(i)

apple
banana
watermelon

In [538]:
for i in range(len(l1)):
    print(l1[i])

apple
banana
watermelon